﻿<section class="content-header">
    <h1 translate="yes">Internationalization</h1>
</section>

<section class="content" ng-controller="I18nController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <language-switch></language-switch>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">
                    Using filter
                </label>
                <div class="col-md-8">
                    <div class="form-control-static">
                        {{'Hello world' | translate}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">
                    Using service *will not work*
                </label>
                <div class="col-md-8">
                    <div class="form-control-static">
                        {{helloWorld}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">
                    Using service *(rebind)*
                </label>
                <div class="col-md-8">
                    <div class="form-control-static">
                        {{helloWorld2}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">
                    Using directive #1
                </label>
                <div class="col-md-8">
                    <div class="form-control-static">
                        <translate>Hello world</translate>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">
                    Using directive #2
                </label>
                <div class="col-md-8">
                    <div class="form-control-static">
                        <span translate="yes">Hello world</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">
                    Using directive #3
                </label>
                <div class="col-md-8">
                    <div class="form-control-static" translate="yes">
                        Hello world
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="display: none">
    <span translate="yes">Sign out</span>
    <span translate="yes">Search</span>
    <span translate="yes">Options</span>
    <span translate="yes">Reports</span>
    <span translate="yes" translate-context="Menu">Home</span>
    <span translate="yes" translate-context="Menu">Dashboard</span>
</div>