﻿<section class="content-header">
    <h1 translate="yes">Notification</h1>
</section>

<section class="content" ng-controller="NotificationController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <input type="text" ng-model="msg" />
                <button type="button" class="btn btn-success" ng-click="messageBox.success(msg)">Success</button>
                <button type="button" class="btn btn-danger" ng-click="messageBox.error(msg)">Error</button>
                <button type="button" class="btn btn-info" ng-click="messageBox.info(msg)">Info</button>
            </div>
        </div>
    </div>
</section>