﻿<section class="content-header">
    <h1 translate="yes">Upload</h1>
</section>

<section class="content" data-ng-controller="ExampleUploadController">
    <form class="container-fluid form-horizontal" name="form" kendo-validator="validator">
        <div class="row">
            <div class="col-md-10">
                <button type="button" class="btn btn-success" ng-click="load()">Load</button>
                <button type="button" class="btn btn-success" ng-click="save()">Save</button>
                <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Name</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="formData.Name" name="Name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <file-upload-list files="_files" attachments="formData.Attachments"></file-upload-list>
                <button ngf-select
                        class="btn btn-default btn-block"
                        type="button"
                        ng-model="_files"
                        ngf-drop
                        ngf-change="onUploadChange($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)">
                    Add more files
                </button>
                <file-upload files="_files" attachments="formData.Attachments"></file-upload>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row" ng-repeat="documentType in dataSource.documentTypesOnCreate">
                    <div class="col-xs-12">
                        <button ngf-select
                                class="btn btn-default btn-block"
                                type="button"
                                name="{{documentType.Name}}"
                                ng-model="_documentTypeFiles[documentType.Value]"
                                ngf-drop
                                ngf-change="onUploadChange($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                ng-required="documentType.IsRequired">
                            {{documentType.Name}}
                        </button>
                        <file-upload-list-document files="_documentTypeFiles[documentType.Value]" attachments="formData.Attachments" document-type="documentType"></file-upload-list-document>
                        <file-upload files="_documentTypeFiles[documentType.Value]" attachments="formData.Attachments"></file-upload>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" ng-repeat="documentType in dataSource.documentTypesOn('Manager Approval')">
                    <div class="col-xs-12">
                        <button ngf-select
                                class="btn btn-default btn-block"
                                type="button"
                                name="{{documentType.Name}}"
                                ng-model="_documentTypeFiles[documentType.Value]"
                                ngf-drop
                                ngf-change="onUploadChange($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                ng-required="documentType.IsRequired">
                            {{documentType.Name}}
                        </button>
                        <file-upload-list-document files="_documentTypeFiles[documentType.Value]" attachments="formData.Attachments" document-type="documentType"></file-upload-list-document>
                        <file-upload files="_documentTypeFiles[documentType.Value]" attachments="formData.Attachments"></file-upload>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div kendo-grid
                     k-options="gridOptions()"></div>
            </div>
        </div>
    </form>
</section>
<script id="editorTemplate" type="text/x-kendo-template">
    <!--<div class="container form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4">LineNo</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="LineNo" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Name</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="Name" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <button ngf-select
                        class="btn btn-default btn-block"
                        type="button"
                        ng-model="dataItem.files"
                        ngf-drop
                        ngf-change="onUploadChange($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)">
                    Add more files
                </button>
                <file-upload-list files="dataItem.Attachments" on-delete="onDelete(dataItem.files, dataItem.Attachments)"></file-upload-list>
                <file-upload files="dataItem.files" on-delete="onDelete(dataItem.files, dataItem.Attachments)"></file-upload>
            </div>
        </div>
    </div>-->

    <div class="k-edit-label"><label for="Name">LineNo</label></div>
    <div data-container-for="LineNo" class="k-edit-field"><input type="text" class="k-input k-textbox" name="LineNo" data-bind="value:LineNo" readonly="readonly"></div>

    <div class="k-edit-label"><label for="Name">Name</label></div>
    <div data-container-for="Name" class="k-edit-field"><input type="text" class="k-input k-textbox" name="Name" data-bind="value:Name"></div>
    <div class="k-edit-label"><label for="Name">Attachments</label></div>
    <div data-container-for="Attachments" class="k-edit-field">
        <button ngf-select
                class="btn btn-default"
                type="button"
                ng-model="dataItem._files"
                ngf-drop
                ngf-change="onUploadChange($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)">
            Add more files
        </button>
        <file-upload-list files="dataItem._files" attachments="dataItem.Attachments"></file-upload-list>
        <file-upload files="dataItem._files" attachments="dataItem.Attachments"></file-upload>
        <!--<pre>{{dataItem.files}}</pre>-->
    </div>
</script>