﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        /*height: 38px;*/
    }
</style>
<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="totalsalelastyearformcontroller" kendo-validator="validator" ng-submit="validate($event)">
    <section class="content-header">
        <header-title small-title-message="Total sale last year">Master data</header-title>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
            <li><a href="#">Master</a></li>
            <li class="active"><a href="totalsalelastyear/index">Total sale last year</a></li>
        </ol>
    </section>
    <section class="content" ng-if="form" style="min-height: 0px;">
        <div class="box-btn">
            <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
                <a class="k-button btn-default" href='totalsalelastyear/'><i class="fa fa-arrow-left"></i> Back</a>
                <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="k-button btn-danger ng-scope" ng-show="canDeleted" ng-click="delete()"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
            <div ng-include="'app/Include/ChooseAction'">

            </div>
        </div>
    </section>
    <section class="content">
        <box header-title="Total sale last year">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Branch code</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <select kendo-drop-down-list
                                    name="UnitCode"
                                    k-ng-model="form.SharedBranch"
                                    @*k-options="unitcodeOption()"*@
                                    k-options="sharedBranchDropdownOption()"
                                    style="width: 100%"
                                    required="required"
                                    ng-disabled="!checkNew"></select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Year</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input kendo-date-picker
                                   k-ng-model="form.YearTime"
                                   k-options="YearTime"
                                   required="required"
                                   ng-disabled="!checkNew"
                                   required="required"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Total sale</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input kendo-numeric-text-box k-ng-model="form.TotalSale" name="TotalSale" style="width: 100%;" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">PercentTR</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input kendo-numeric-text-box k-ng-model="form.PercentTR" name="PercentTR" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">PercentRE</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input kendo-numeric-text-box k-ng-model="form.PercentRE" name="PercentRE" style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">AreaTR</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input kendo-numeric-text-box k-ng-model="form.AreaTR" name="AreaTR" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">AreaRE</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input kendo-numeric-text-box k-ng-model="form.AreaRE" name="AreaRE" style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
        </box>
    </section>
</form>