﻿<section class="content-header">
    <header-title small-title-message="Total sale last year">Master data</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="#">Master</a></li>
        <li class="active"><a href="totalsalelastyear/index">Total sale last year</a></li>
    </ol>
</section>
<section class="content" ng-controller="totalsalelastyearcontroller">
    <box header-title="Total sale last year">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
    @*{{gridKendoOption22()}}
        <pre>{{gridKendoOption()}}</pre>*@
</section>
<script type="text/x-kendo-template" id="totalSaleLastYearTemplate">
    <div class="toolbar">

        <div class="btn-group" role="group">
            <a btn-create href="totalsalelastyear/create" />
        </div>
    </div>
</script>
