﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        height: 38px;
    }
    .btn {
        padding: 2px 4px;
    }
</style>
<section class="content-header">
    <header-title small-title-message="Memo">Marketing Proposal System</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="#">Memo</a></li>
        <li class="active"><a href="#">Index</a></li>
    </ol>
</section>
<section class="content">
    <div ng-controller="memoController">
        <box header-title="My Memo">
            <div kendo-grid="mygrid" options="gridKendoOption">
            </div>
        </box>
    </div>
    @*<div ng-controller="memoCompleteController">

        <box header-title="Related Memo">
            <div kendo-grid="grid" options="gridKendoOption">
            </div>
        </box>
    </div>*@
</section>
@*<section class="content" ng-controller="memoCompleteController">
    <box header-title="Related Memo">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
</section>*@
<script type="text/x-kendo-template" id="memoToolbarTemplate">
    <div class="toolbar">
        <div class="btn-group" role="group">
            @*<a btn-create href="proposal/create" />*@
            <a class="k-button btn-success" href='memo/create'><i class="fa fa-plus"></i> Create New Memo</a>
            @*<a class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Export to Excel</a>*@
        </div>
    </div>
</script>

