﻿<script type="text/x-kendo-template" id="_AccountingEditTemplate">

    <div class="container form-horizontal">

        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Source</label>
                    <div class="col-md-7 control-input">
                        <input class="k-textbox" type="text" data-bind="value:Source">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Actual</label>
                    <div class="col-md-7 control-input">
                        <div class="input-group">

                            <input price-text-box min="0" type="number" data-bind="value:Actual">
                            <span class="input-group-addon">
                                @TheMall.MPS.Resources.Share.Baht
                            </span>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Actual Date</label>
                    <div class="col-md-7 control-input">
                        <input crs-date-picker
                               k-ng-model="data.ActualDate"
                               data-bind="value:ActualDate"
                               name="ActualDate" />
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Description</label>
                    <div class="col-md-7 control-input">
                        <input class="k-textbox" type="text" data-bind="value:Remark">
                    </div>

                </div>
            </div>

        </div>

    </div>
</script>