﻿<div class="row">
    <div kendo-grid="$parent.$parent.$parent.incomeOtherGrid2" options="IncomeOtherGridOption2()">
        @*<br />
        <div k-detail-template>
            <div kendo-grid="$parent.$parent.$parent.accountGrid" options="AccountGridObtion(dataItem)">
            </div>
        </div>
        <br />*@
    </div>

</div>
