﻿<div kendo-window="$parent.SharedBranchWindow"
     k-title="'Shared Branch'"
     k-visible="false"
     k-width="'50%'"
     k-modal="true">
    <div class="k-edit-form-container">

        <div class="container-fluid">
            <div class="row">
                <div class="control-input col-md-5" style="margin-bottom: 5px;" ng-repeat="branch in SharedBranch" ng-hide="branch.InActive">
                    <input id="{{branch.BranchCode}}" type="checkbox" class="k-checkbox" ng-model="branch.Selected" ng-disabled="branch.InActive" />
                        <label class="k-checkbox-label" for="{{branch.BranchCode}}">{{branch.BranchCode}} - {{branch.BranchName}}</label>
                        @*<pre>{{branch.InActive}}</pre>*@
                </div>
            </div>
        </div>
        <div class="k-edit-buttons k-state-default">
            <a class="k-button k-button-icontext k-primary k-ok" href="#" ng-click="addFromTemplate()">
                <span class="k-icon k-update"></span>OK
            </a>
            <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="SharedBranchWindow.close()">
                <span class="k-icon k-cancel"></span>Cancel
            </a>
        </div>
    </div>
</div>