﻿<div class="row">
    <div kendo-grid="$parent.$parent.$parent.depositaccountGrid" options="DepositaccountGridOption()">
        @*<br />
        <div k-detail-template>
            <div kendo-grid="$parent.$parent.$parent.accountGrid" options="AccountGridObtion(dataItem)">
            </div>
        </div>
        <br />*@
    </div>

</div>
