﻿<div kendo-window="$parent.detailWindow"
     k-title="'Expense Topic'"
     k-visible="false"
     k-width="'60%'"
     k-modal="true">
    @*<pre>{{newModel | json}} </pre>*@
    <div class="container form-horizontal" style="width: 90%">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ExpenseTopic</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

                    <select kendo-drop-down-list
                            id="expenseTopicId2"
                            k-options="expenseTopicOptionDw()"
                            k-ng-model="newModel.ExpenseTopic"
                            k-on-change="changeExpenseTopic(newModel)"
                            ng-required="true"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.APCode</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

                    <select kendo-drop-down-list
                            k-options="apCodeOption()"
                            k-ng-model="newModel.APCode"
                            k-cascade-from-field="'ExpenseTopicCode'"
                            k-cascade-from="'expenseTopicId2'"
                            ng-required="true"></select>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Description</label>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                    <input class="form-control input-sm" ng-model="newModel.Description" style="width: 85%;">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.UnitCode</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

                    <select kendo-drop-down-list
                            k-options="unitcodeOption()"
                            k-ng-model="newModel.UnitCode"
                            name="@TheMall.MPS.Resources.Share.UnitCode"
                           ></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Last Year @TheMall.MPS.Resources.Proposal.Actual</label>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <input price-text-box min="0" type="number" ng-model="newModel.Actual">
                        <span class="input-group-addon">
                            @TheMall.MPS.Resources.Share.Baht
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.BudgetPlan</label>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <input price-text-box min="0" type="number" ng-model="newModel.BudgetPlan">
                        <span class="input-group-addon">
                            @TheMall.MPS.Resources.Share.Baht
                        </span>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Actual</label>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <div class="input-group">
                                <input price-text-box min="0" type="number" style="width: 100%;" ng-model="dataItem.Actual">
                                <span class="input-group-addon">
                                    @TheMall.MPS.Resources.Share.Baht
                                </span>
                            </div>
                        </div>
                            </div>
                        </div>*@
    </div>
    <div style="background-color: #f9f9f9; padding: 10px; float: right;">
        <div class="k-edit-buttons k-state-default">
            <a class="k-button k-button-icontext k-primary k-ok"  href="#" ng-click="AddNewRecordToGrid(newModel)">
                <span class="k-icon k-update"></span>OK
            </a>
            <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="detailWindow.close()">
                <span class="k-icon k-cancel"></span>Cancel
            </a>
        </div>
    </div>
    </div>
