﻿<div kendo-window="$parent.expenseWindow"
     k-title="'Expense Topic'"
     k-visible="false"
     k-width="'90%'"
     k-modal="true"
     style="z-index: 1009">
    <div class="k-edit-form-container">
        <div class="container-fluid">
            <div class="row">
                <div kendo-grid="$parent.$parent.$parent.expenseGrid" options="expenseGridOption()" style="width: 100%"></div>
            </div>
            <div class="row">
                <div class="k-edit-buttons k-state-default">
                    <a class="k-button k-button-icontext k-primary k-ok" href="#" ng-click="addRowToGrid()">
                        <span class="k-icon k-update"></span>OK
                    </a>
                    <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="expenseWindow.close()">
                        <span class="k-icon k-cancel"></span>CANCEL
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>