﻿<div kendo-window="$parent.linetrackingWindow"
     k-title="''"
     k-visible="false"
     k-width="'90%'"
     k-modal="true"
     style="z-index: 1009">

    <section class="content">
       
        <h5 style="color: #008b8b">AP Code : {{dataTrackingAPCode}}</h5>
        <div class="container-fluid">
            <div class="row">
                <div kendo-grid="trackinggrid" options="trackingGridOption()">
                </div>

            </div>
        </div>

    </section>
   
</div>
