﻿<div kendo-window="$parent.proptrackingWindow"
     k-title="''"
     k-visible="false"
     k-width="'90%'"
     k-modal="true"
     style="z-index: 1009">

    <section class="content" ng-show="!isDeposit">

        <h3 style="color: #008b8b">Proposal No : {{form.DocumentNumber}} - {{form.Title}}</h3>

        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Total Budget</label>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <div class="text-left">
                            {{totalBudgetTracking | number}} Baht
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Remaining</label>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <div class="text-left">
                            {{remainingTracking | number}} Baht
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div kendo-grid="proptrackinggrid" options="proptrackingGridOption()">
                </div>
            </div>
            <br />
                <h3 style="color: #008b8b">Income</h3>
                <br />
                <div class="row">
                    <div kendo-grid="incomeDeposit" options="IncomeDepositGridTracking"></div>
                </div>
                <br />
                <br/>
                <div class="row">
                    <div kendo-grid="incomeOther" options="IncomeOtherGridTracking"></div>
                </div>
        </div>
    </section>
    <section class="content" ng-show="isDeposit">
        <h3 style="color: #008b8b; margin-left: 10%">Proposal No : {{form.DocumentNumber}}</h3>
        <div class="container-fluid">
            <div class="row">
                <div kendo-grid="deposittrackinggrid" options="depositTrackingGridOption()" style="margin: 0 10% 0 10%">
                </div>

            </div>
            
        </div>
    </section>
</div>

