﻿<div kendo-window="$parent.totalsaleWindow"
     k-title="'Total Sale Target'"
     k-visible="false"
     k-width="'50%'"
     k-modal="true">
    <div class="container form-horizontal" style="width: 80%">
       
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Description</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

                    <input class="form-control input-sm" ng-model="totalsale.Description">
                </div>

            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.TotalSale</label>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <div class="input-group">
                        <input price-text-box min="0" type="number" style="width: 100%;" ng-model="totalsale.Budget">
                        <span class="input-group-addon">
                            @TheMall.MPS.Resources.Share.Baht
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="background-color: #f9f9f9; padding: 10px; float: right;">
        <div class="k-edit-buttons k-state-default">
            <a class="k-button k-button-icontext k-primary k-ok" href="#" ng-click="AddTotalSaleToGrid(totalsale)">
                <span class="k-icon k-update"></span>OK
            </a>
            <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="totalsaleWindow.close()">
                <span class="k-icon k-cancel"></span>Cancel
            </a>
        </div>
    </div>
    </div>
