﻿<div ng-show="form.ProposalType.TypeProposalCode !=='DEPOSIT' || form.ProposalType.TypeProposalCode !=='DEPOSITIN'">
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #A9D0F5">
            SALES TARGET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px double #000; background-color: #FAFAFA">
            {{totalSale() | currency:' ':2}}
        </label>
    </div>
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #81F79F">
            TOTAL ADVERTISING EXPENSES NET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px solid #000; background-color: #FAFAFA">
            {{totalSaleAdvBudgetPlan() | currency:' ':2}}
        </label>
    </div>
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #F6E3CE">
            % OF ADVERTISING EXPENSES / SALES TARGET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px double #000; background-color: #FAFAFA">
            {{percentAdv() | currency:' ':2}}%
        </label>
    </div>
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #81F79F">
            TOTAL SALES PROMOTION EXPENSES NET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px solid #000; background-color: #FAFAFA">
            {{totalSalePromoBudgetPlan() | currency:' ':2}}
        </label>
    </div>
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #F6E3CE">
            % OF PROMOTION EXPENSES / SALES TARGET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px double #000; background-color: #FAFAFA">
            {{percentPromo() | currency:' ':2}}%
        </label>
    </div>
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #81F79F">
            TOTAL SALES OTHER EXPENSES NET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px solid #000; background-color: #FAFAFA">
            {{totalSaleOtherExpenseBudgetPlan() | currency:' ':2}}
        </label>
    </div>
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #F6E3CE">
            % OF OTHER EXPENSES / SALES TARGET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px double #000; background-color: #FAFAFA">
            {{percentOtherExpense() | currency:' ':2}}%
        </label>
    </div>
   
     <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #FE9A2E">
            TOTAL MARKETING EXPENSES NET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px solid #000; background-color: #FAFAFA">
            {{totalSaleMarketing() | currency:' ':2}}
        </label>
    </div>
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #D8D8D8">
            % OF TOTAL MARKETING EXPENSES / SALES TARGET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px double #000; background-color: #FAFAFA">
            {{percentMarketing() | currency:' ':2}}%
        </label>
    </div>
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #FE9A2E">
            GRAND TOTAL
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px solid #000; background-color: #FAFAFA">
            {{grandTotal() | currency:' ':2}}
        </label>
    </div>
    <div class="row" style="margin-right: 0px;">
        <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6 control-label"></label>
        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" style="background-color: #D8D8D8">
            % OF TOTAL GRAND TOTAL / SALES TARGET
        </label>
        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" style="border-bottom: 1px double #000; background-color: #FAFAFA">
            {{percentGrandTotal() | currency:' ':2}}%
        </label>
    </div>
</div>