﻿<section class="content-header">
    <header-title small-title-message="Proposal">Marketing Proposal System</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> HomeMenuLabel</a></li>
        <li><a href="#">Proposal</a></li>
        <li class="active"><a href="#">index</a></li>
    </ol>
</section>
<section class="content" ng-controller="proposalCompleteController">
    <box header-title="Proposal">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
</section>

