﻿<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="proposalFormController" kendo-validator="validator" ng-submit="validate($event)" k-options="validatorOption" readonly="readonly">

    <section class="content-header">
        <header-title small-title-message="@TheMall.MPS.Resources.Share.ProposalLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
            <li><a href="proposal/index">@TheMall.MPS.Resources.Share.ProposalLabel</a></li>
            <li class="active">@TheMall.MPS.Resources.Share.CreateLabel</li>
        </ol>
    </section>

<!-- Main content -->
<section class="content" ng-if="form">

@*<pre>{{form.Revision | json}}</pre>*@

<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='proposal/index'><i class="fa fa-arrow-left"></i> Back</a>
        @*<button type="submit" class="k-button btn-success ng-scope" style="color: #fff"><i class="fa fa-save"></i> SAVE</button>*@
        @*<button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>*@
        <button ng-show="form.StatusFlag===9" type="button" ng-click="viewProposalTracking()" class="k-button btn-info ng-scope"><i class="fa fa-search"></i>View Tracking</button>
        <button ng-show="hideCloseProposal()" type="button" ng-click="closeProposal()" class="k-button btn-warning ng-scope"><i class="fa fa-times-circle"></i> Close Proposal</button>
     </div>

    <div ng-show="AccInput">
        <div ng-show="form.Actions.length > 0">
            <k2-action-list actions="form.Actions" click="openK2ActionModal"></k2-action-list>
        </div>
    </div>

    <div ng-show="!AccInput">
        <div ng-show="form.Actions.length > 0">
            <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
        </div>
    </div>
</div>
    
<box header-title="@TheMall.MPS.Resources.Share.RequesterInfoHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.RequesterName :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Requester.Username }} | {{ form.Requester.FullName}}
                    </div>
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.UnitCode :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.UnitCode.UnitCode }} - {{ form.UnitCode.UnitName}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.CreateDate :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.CreatedDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
            </div>
       
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.AllocateBasis :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.AllocationCode}}
                    </div>
                </label>
            </div>
        </div>
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Proposal.GeneralInfoHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalNumber :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.DocumentNumber }}
                    </div>
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Status :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Status}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalTitle :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Title}}
                    </div>
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalType :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProposalType.TypeProposalName}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row" ng-show="!show">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Branch :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left" ng-repeat="Palce in form.ListPlace">
                        - {{Palce.PlaceCode}} - {{Palce.PlaceName}}
                    </div>
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Other :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left" style="overflow-wrap: break-word;">
                        {{form.Other}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row" ng-show="show">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="checkDepositSource">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Source :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left" ng-show="checkDepositSource">
                    <div class="text-left">
                        {{form.Source}}
                    </div>
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" ng-show="!chkDeposit">@TheMall.MPS.Resources.Proposal.RefDeposit :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left" ng-show="!chkDeposit">
                    <div class="text-left" ng-if="form.DepositNumber!==null">
                        {{form.DepositNumber.DocumentNumber }}|{{ form.DepositNumber.Title}}
                    </div>
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" ng-show="!chkDeposit">@TheMall.MPS.Resources.Proposal.DeopsitApprover :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left" ng-show="!chkDeposit">
                    <div class="text-left" ng-repeat="app in form.Approver">
                        - {{app.ApproverFullName}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" ng-show="!show">@TheMall.MPS.Resources.Proposal.StartDate :</label>
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" ng-show="show">@TheMall.MPS.Resources.Proposal.FundAvailabityDateFrom :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.StartDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" ng-show="!show">@TheMall.MPS.Resources.Proposal.EndDate :</label>
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" ng-show="show">@TheMall.MPS.Resources.Proposal.FundAvailabityEndFrom :</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.EndDate | date:'dd/MM/yyyy'}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="!show">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProjectStartDate :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProjectStartDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProjectEndDate :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProjectEndDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Budget :</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.TotalBudget | number}} @TheMall.MPS.Resources.Share.Baht
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Theme :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Theme.ThemesName}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="!show">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"></label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input type="radio" class="k-radio" ng-model="form.CheckBudget" id="checkbudget" ng-value="true" ng-checked="checked" ng-disabled="true">
                    <label class="k-radio-label" for="checkbudget">@TheMall.MPS.Resources.Proposal.CheckBudget</label>
                    <input type="radio" class="k-radio" ng-model="form.CheckBudget" id="unbudget" ng-value="false" ng-disabled="true">
                    <label class="k-radio-label" for="unbudget">@TheMall.MPS.Resources.Proposal.UnBudget</label>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">@TheMall.MPS.Resources.Proposal.Optional :</label>
                <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                    {{form.CustomersTargetGroup}}
                    @*<textarea class=" form-control" ng-model="form.CustomersTargetGroup" rows=" 5" readonly="readonly"></textarea>*@
                </div>
            </div>
        </div>
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Proposal.Objective" id="editorfull" expanded="false">
    <div class="container-fluid">
        <div class="row">
            @*<textarea kendo-editor k-ng-model="form.Description" k-options="DescriptionEditor"
                    id="texteditor" rows="20" style=" height: 400px" readonly="readonly"></textarea>*@
            <div class="text-left" ng-bind-html=" trustAsHtml(form.Objective)" style="word-wrap: break-word;">
            </div>
        </div>
    </div>
</box>
@*<box header-title="@TheMall.MPS.Resources.Proposal.Objective" id="editorfull">
            <div class="container-fluid" style="min-height: 300px; height:auto">
                <div class="row">
                    <textarea kendo-editor k-ng-model="form.Objective" id="objectiveeditor" k-options="ObjectiveEditor" rows="20" readonly="readonly"></textarea>
                </div>
            </div>
        </box>*@

<box header-title="@TheMall.MPS.Resources.Proposal.APHeader" ng-show="!show">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"></label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                </div>
            </div>
        </div>
        <div class="row">
            <div kendo-grid="$parent.$parent.$parent.allocateGrid" options="AllocateGridOption()"></div>
        </div>
        <br/>
        @*<div class="row">
                    <div kendo-grid="$parent.$parent.$parent.totalSaleTargetGridOption" options="TotalSaleTargetGridOption()"></div>
                </div>
                @Html.Partial("_TotalSummaryTemplate")*@
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Proposal.TotalSalesTarget" ng-show="!show">
    <div class="container-fluid">
        <div kendo-grid="$parent.$parent.$parent.totalSaleTargetGridOption" options="TotalSaleTargetGridOption()"></div>

        @Html.Partial("_TotalSummaryTemplate")

    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Proposal.InomeHeader" ng-show="!show">
    <div class="container-fluid">
        <div class="row">
            <div kendo-grid="$parent.$parent.$parent.incomeDepositGrid" options="IncomeDepositGridOption()"></div>
        </div>
        <br/>
        <div class="row" ng-show="AccInput">
            <div kendo-grid="$parent.$parent.$parent.incomeOtherGrid" options="IncomeOtherGridOption()"></div>
        </div>
        <div ng-show="!AccInput">
            @*<pre>{{form.IncomeOther | json}}</pre>*@
            @Html.Partial("_AccountingGridTemplate")
        </div>
    </div>
</box>

<box header-title="DEPOSIT" ng-show="show">
    <div class="container-fluid">
        <div class="row" ng-show="AccInput">
            <div kendo-grid="$parent.$parent.$parent.depositLine" options="DepositLinesGridOption()"></div>
        </div>
        <div class="row" ng-show="!AccInput">
            <div kendo-grid="$parent.$parent.$parent.depositLine2" options="DepositLinesGridOption2()"></div>
        </div>
        <br/>
        <div class="row">
            <input type="checkbox" id="transfer" class="k-checkbox" ng-model="form.TransferToNextYear" ng-disabled="true">
            <label class="k-checkbox-label" for="transfer">เงินสนับสนุนที่คงเหลือ ยกยอดไปใช้ในปีถัดไป</label>
        </div>
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Share.AttachmentHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">Attachment files</label>
                <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                    <attachment-view-share attachments="form.OtherFiles"></attachment-view-share>
                </div>
            </div>

        </div>
    </div>
</box>

<div ng-show="haveIncome()">
    @Html.Partial("_AccountingReadOnly")
</div>
@*@Html.Partial("_Approve")*@
@Html.Partial("_ApproverGrids")
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='proposal/index'><i class="fa fa-arrow-left"></i> Back</a>
        @*<button type="submit" class="k-button btn-success ng-scope" style="color: #fff"><i class="fa fa-save"></i> SAVE</button>*@
        @*<button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>*@
        <button ng-show="form.StatusFlag===9" type="button" ng-click="viewProposalTracking()" class="k-button btn-info ng-scope"><i class="fa fa-search"></i>View Tracking</button>
         <button ng-show="hideCloseProposal()" type="button" ng-click="closeProposal()" class="k-button btn-warning ng-scope"><i class="fa fa-times-circle"></i> Close Proposal</button>
    </div>
    <div ng-show="AccInput">
        <div ng-show="form.Actions.length > 0">
            <k2-action-list actions="form.Actions" click="openK2ActionModal"></k2-action-list>
        </div>
    </div>
    <div ng-show="!AccInput">
        <div ng-show="form.Actions.length > 0">
            <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
        </div>
    </div>
</div>

<box header-title="Fields History" ng-show="form.Revision !== null" expanded="false">
    <div class="container-fluid">
        <div class="row">
            <div kendo-grid="$parent.$parent.$parent.logTrackChangeGrid" options="logTrackChangeGridOption()"></div>
        </div>
    </div>
</box>

@Html.Partial("_CommentHistory")
@Html.Partial("_ExpenseTopicTemplate")
@Html.Partial("_BranchTemplate")
@Html.Partial("_DetailTemplate")
@Html.Partial("_TotalSateTemplate")
@Html.Partial("_AccountingEditTemplate")
@Html.Partial("_LineTracking")
@Html.Partial("_ProposalTracking")

</section>
</form>
