﻿<style>
    .btn {
        padding: 2px 4px;
    }
</style>

<section class="content-header">
    <header-title small-title-message="Proposal">Marketing Proposal System</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> @TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="#">Proposal</a></li>
        <li class="active"><a href="#">Index</a></li>
    </ol>
</section>
<section class="content">
    <div>
        <div ng-controller="proposalController">
            <box header-title="My Proposal">
                <div kendo-grid="mygrid" options="mygridKendoOption">
                </div>
            </box>
        </div>
    </div>
        <div>
            <div ng-controller="proposalCompleteController">
                <box header-title="Related Proposal">
                    <div kendo-grid="grid" options="gridKendoOption">
                    </div>
                </box>
                <br/>
            </div>
        </div>
</section>

@*<section class="content" ng-controller="proposalCompleteController">
    <box header-title="Related Proposal">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
</section>*@
<script type="text/x-kendo-template" id="ToolbarTemplate">
    <div class="toolbar">
        <div class="btn-group" role="group">
            @*<a btn-create href="proposal/create" />*@
            <a class="k-button btn-success" href='proposal/create'><i class="fa fa-plus"></i> Create New Proposal</a>
            @*<a class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Export to Excel</a>*@
        </div>
    </div>
</script>

