﻿<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="proposalReviseController" kendo-validator="validator" ng-submit="validate($event)">
    <section class="content-header">

        <header-title small-title-message="@TheMall.MPS.Resources.Share.ProposalLabel (Revise)">@TheMall.MPS.Resources.Share.MPS</header-title>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
            <li><a href="proposal/index">@TheMall.MPS.Resources.Share.ProposalLabel</a></li>
            <li class="active">Revise</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content" ng-if="form">

        <div class="box-btn">
            <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
                <a class="k-button btn-default" href='proposal/index'><i class="fa fa-arrow-left"></i> Back</a>
                <button ng-show="form.StatusFlag===8 && form.DocumentStatus==='Draft'" type="button" class="k-button btn-danger" style="color: #fff;" ng-click="cancelRevise()" ><i class="fa fa-remove"></i> Cancel</button>
                <button type="submit" class="k-button btn-success ng-scope" style="color: #fff"><i class="fa fa-save"></i> Save</button>
                <button ng-show="form.StatusFlag===8 && form.DocumentStatus==='Draft'" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>
            </div>
            <div ng-show="form.Actions.length > 0">
                <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
            </div>
        </div>

        @Html.Partial("_RequesterInfoReadOnly")

        <box header-title="@TheMall.MPS.Resources.Proposal.GeneralInfoHeader">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalNumber</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.DocumentNumber }}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Status</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.Status}}
                            </div>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.ProposalTitle</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.Title}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.ProposalType</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.ProposalType.TypeProposalName}}
                            </div>
                        </label>
                    </div>
                </div>
                <div class="row" ng-show="!show">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.Branch</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left" ng-repeat="Palce in form.ListPlace">
                                - {{Palce.PlaceCode}}-{{Palce.PlaceName}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Other</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.Other">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="show">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.Source</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8  control-label text-left">
                            <div class="text-left">
                                {{form.Source}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.RefDeposit</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left" ng-if="form.DepositNumber!==null">
                                {{form.DepositNumber.DocumentNumber }}|{{ form.DepositNumber.Title}}
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.StartDate</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            @*<input crs-date-picker ng-model="form.StartDate" ng-change='checkStartDate(form.StartDate,form.EndDate)' />*@
                            <input kendo-date-picker
                                   k-ng-model="form.StartDate"
                                   k-format="'dd/MM/yyyy'"
                                   k-max="maxDate"
                                   k-rebind="maxDate"
                                   k-on-change="startDateChanged(form.StartDate)"
                                   name="@TheMall.MPS.Resources.Proposal.StartDate"
                                   required="required"
                                   onkeydown="return false" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.EndDate</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            @*<input crs-date-picker ng-model="form.EndDate" ng-change='checkEndDate(form.StartDate,form.EndDate)' />*@
                            <input kendo-date-picker
                                   k-ng-model="form.EndDate"
                                   k-format="'dd/MM/yyyy'"
                                   k-min="minDate"
                                   k-rebind="minDate"
                                   k-on-change="endDateChanged(form.EndDate)"
                                   name="@TheMall.MPS.Resources.Proposal.EndDate"
                                   required="required"
                                   onkeydown="return false" />
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!show">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProjectStartDate</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.ProjectStartDate | date:'dd/MM/yyyy'}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.ProjectEndDate</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            @*<input crs-date-picker k-ng-model="form.ProjectEndDate"/>*@
                            <input kendo-date-picker
                                   k-ng-model="form.ProjectEndDate"
                                   k-format="'dd/MM/yyyy'"
                                   @*k-ng-model="fromDateObject"*@
                                   k-min="minDate"
                                   k-rebind="minDate"
                                   onkeydown="return false" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Budget</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="input-group">
                                <input price-text-box min="0" type="number" style="width: 100%;" ng-model="form.TotalBudget" readonly="readonly">
                                <span class="input-group-addon">
                                    @TheMall.MPS.Resources.Share.Baht
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Theme</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <select id="theme"
                                    kendo-drop-down-list
                                    k-options="themeOption"
                                    k-ng-model="form.Theme"
                                    k-on-change="themeOptionChange()"
                                    ng-disabled="checkNewTheme">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!show">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"></label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input type="radio" class="k-radio" ng-model="form.CheckBudget" id="checkbudget" ng-value="true" ng-checked="true" ng-disabled="true">
                            <label class="k-radio-label" for="checkbudget">@TheMall.MPS.Resources.Proposal.CheckBudget</label>
                            <input type="radio" class="k-radio" ng-model="form.CheckBudget" id="unbudget" ng-value="false" ng-disabled="true">
                            <label class="k-radio-label" for="unbudget">@TheMall.MPS.Resources.Proposal.UnBudget</label>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="checkOtherTheme">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Theme name</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.ThemeNewName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">@TheMall.MPS.Resources.Proposal.Optional</label>
                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                            {{form.CustomersTargetGroup}}
                            @*<textarea class=" form-control" ng-model="form.CustomersTargetGroup" rows=" 5" readonly="readonly"></textarea>*@
                        </div>
                    </div>
                </div>
            </div>
        </box>

        <box header-title="@TheMall.MPS.Resources.Proposal.Objective" id="editorfull">
            <div class="container-fluid">
                <div class="row">
                    <textarea kendo-editor k-ng-model="form.Objective" k-options="ObjectiveEditor" rows="20" style="height: 400px"></textarea>
                </div>
            </div>
        </box>

        <box header-title="@TheMall.MPS.Resources.Proposal.APHeader" ng-show="!show">
            <div class="container-fluid">
                @*<pre>{{form.ProposalLine | json}}</pre>*@
                <div class="row">
                    <div kendo-grid="$parent.$parent.$parent.allocateGrid" options="AllocateGridOption()"></div>
                </div>
                <br />

            </div>
        </box>
        <box header-title="@TheMall.MPS.Resources.Proposal.TotalSalesTarget" ng-show="!show">
            <div class="container-fluid">


                <div kendo-grid="$parent.$parent.$parent.totalSaleTargetGridOption" options="TotalSaleTargetGridOption()"></div>

                @Html.Partial("_TotalSummaryTemplate")

            </div>
        </box>
        <!--<box header-title="@TheMall.MPS.Resources.Proposal.AllocateExceptionHeader" ng-show="!show">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.DepartmentException</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            @*<input class="form-control input-sm" ng-model="form.DepartmentException">*@
                            <select kendo-multi-select
                                    k-options="departmentExceptionOption"
                                    name="@TheMall.MPS.Resources.Proposal.DepartmentException"
                                    k-ng-model="form.DepartmentException"
                                    data-bind="value:DepartmentException"></select>
                        </div>
                    </div>
                </div>
            </div>
        </box>-->
        <box header-title="@TheMall.MPS.Resources.Proposal.InomeHeader" ng-show="!show">
            <div class="container-fluid">

                <div class="row">
                    <div kendo-grid="$parent.$parent.$parent.incomeDepositGrid" id="incomeDepositGrid" options="IncomeDepositReviseGridOption()"></div>
                </div>
                <br />
                <div class="row">
                    <div kendo-grid="$parent.$parent.$parent.incomeOtherGrid" options="IncomeOtherGridOption()"></div>
                </div>
                @*<br />
                    @Html.Partial("_AccountingTemplate")*@
            </div>
        </box>
        <box header-title="DEPOSIT" ng-show="show">
            <div class="container-fluid">
                <div class="row">
                    <div kendo-grid="$parent.$parent.$parent.depositLine" options="DepositLinesGridOption()"></div>
                </div>
                <br />
                <div class="row">
                    <input type="checkbox" id="transfer" class="k-checkbox" ng-model="form.TransferToNextYear">
                    <label class="k-checkbox-label" for="transfer">เงินสนับสนุนที่คงเหลือ ยกยอดไปใช้ในปีถัดไป</label>
                </div>

            </div>
        </box>
        <box header-title="@TheMall.MPS.Resources.Share.AttachmentHeader">
            <div class="container-fluid">

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">
                            Attachment files
                            <span><i class="fa fa-exclamation-circle" aria-hidden="true" title="@TheMall.MPS.Resources.Share.AttachmentType"></i></span>
                        </label>
                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                            <app-upload name="otherFiles"
                                        handler="uploadHandler"
                                        ng-model="form.OtherFiles"
                                        save-url="attchmentSaveUrl" />
                        </div>
                    </div>

                </div>
            </div>
        </box>
        <div ng-show="haveIncome()">
            @Html.Partial("_Accounting")
        </div>
        @Html.Partial("_ApproverGrids")
    <div class="box-btn">
        <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
            <a class="k-button btn-default" href='proposal/index'><i class="fa fa-arrow-left"></i> Back</a>
            <button ng-show="form.StatusFlag===8 && form.DocumentStatus==='Draft'" type="button" class="k-button btn-danger" style="color: #fff; " ng-click="cancelRevise()"><i class="fa fa-remove"></i> Cancel</button>
            <button type="submit" class="k-button btn-success ng-scope" style="color: #fff"><i class="fa fa-save"></i> Save</button>
            <button ng-show="form.StatusFlag===8 && form.DocumentStatus==='Draft'" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>
        </div>
        <div ng-show="form.Actions.length > 0">
            <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
        </div>
    </div>
        <box header-title="Fields History"  expanded="false">
            <div class="container-fluid">
                <div class="row">
                    <div kendo-grid="$parent.$parent.$parent.logTrackChangeGrid" options="logTrackChangeGridOption()"></div>
                </div>
            </div>
        </box>
            <div ng-show="showComments">
                @Html.Partial("_CommentHistory")
            </div>
            @Html.Partial("_ExpenseTopicTemplate")
            @Html.Partial("_BranchTemplate")
            @Html.Partial("_DetailTemplate")
            @Html.Partial("_TotalSateTemplate")


</section>

</form>
