﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        /*height: 38px;*/
    }
</style>
<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="employeeformcontroller" kendo-validator="validator" ng-submit="validate($event)">
    <section class="content-header">
        <header-title small-title-message="@TheMall.MPS.Resources.Share.Employee">Master data</header-title>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
            <li><a href="#">Master</a></li>
            <li class="active"><a href="employee/index">Employee</a></li>
        </ol>
    </section>
    <section class="content" ng-if="form" style="min-height: 0px;">
        <div class="box-btn">
            <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
                <a class="k-button btn-default" href='employee/'><i class="fa fa-arrow-left"></i> Back</a>
                <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="k-button btn-danger ng-scope" ng-show="canDeleted" ng-click="delete()"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
            <div ng-include="'app/Include/ChooseAction'">

            </div>
        </div>
    </section>
    <section class="content">
        <box header-title="A emloyee page">
            <div class="container-fluid">

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Emp id</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.EmpId" ng-disabled="!checkNew" name="EmpId" required="required" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Status</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <select kendo-drop-down-list
                                    name="EmpStatus"
                                    k-ng-model="form.EmpStatus"
                                    k-options="statusOption()"
                                    style="width: 100%" required="required"></select>
                                @*<input class="form-control input-sm" ng-model="form.EmpStatus" name="EmpStatus" required="required"/>*@
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Username</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.Username" name="Username" required="required" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Email</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.Email" name="Email" required="required" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Telephone number</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.TelephoneNo" name="TelephoneNo" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Authority</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.Authority" name="Authority" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>First name(Thai)</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.ThFName" name="ThFName" required="required"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Last name(Thai)</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.ThLName" name="ThLName" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">First name(English)</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.EnFName" name="EnFName"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Last name(English)</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.EnLName" name="EnLName"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Department code</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.DepartmentCode" name="DepartmentCode"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Department name</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.DepartmentName" name="DepartmentName"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Position code</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.PositionCode" name="PositionCode" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Position name</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.PositionName" name="PositionName"  />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Company code</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.CompanyCode" name="CompanyCode"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Company name</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.CompanyName" name="CompanyName"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Division code</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.DivisionCode" name="DivisionCode" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Division name</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.DivisionName" name="DivisionName" />
                        </div>
                    </div>
                </div>

            </div>
        </box>
    </section>
</form>
