﻿<div class="container" style="margin-bottom: 20px;">
    <div class="col-sm-12 col-sm-offset-4">
        <button class="btn btn-success" type="button" ng-click="view()"
                ng-disabled="params.format == 'XLS' || params.format == 'WORD'">
            <i class="fa fa-desktop"></i> <translate>Preview</translate>
        </button>
        <button class="btn btn-warning" type="reset" ng-click="clear()">
            <i class="fa fa-refresh"></i> <translate>Clear</translate>
        </button>
        <button class="btn btn-primary" type="button" ng-click="download()">
            <i class="fa fa-download"></i> <translate>Download</translate>
        </button>
        @*<button ng-click="xxx()">Try it</button>*@
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  form-title-group" style="border-bottom: none;">
    <div class="form-title-group-icon">
        <i class="fa fa-desktop"></i>
    </div><h4>Print and preview <span class="icon-wrapper right" ng-show="result.content"><a href="#" ng-click="fullscreen(true)"><i class="fa fa-arrows-alt"></i></a></span></h4>
</div>

<div class="preview-report">
    <div class="preview-datasource" ng-if="!result.content">
        <i class="fa fa-exclamation-circle"></i> <translate>Data could not be found!</translate>
    </div>
    <div ng-if="result.content" ng-switch="result.contentType">
        <div ng-switch-when="application/pdf"  id ="Test">
            <embed ng-src="{{result.content}}" ng-attr-type="{{result.contentType}}" class="preview-responsedata"/>
        </div>

        <div ng-switch-when="image/png" class="text-center">
            <img ng-src=" {{result.content}} " />
        </div>
        <div ng-switch-when="image/jpeg" class="text-center">
            <img ng-src=" {{result.content}} " />
        </div>
        <div ng-switch-default>
            <div class="preview-datasource">
                <i class="fa fa-exclamation-circle"></i> <translate>No preview available.</translate>
            </div>
        </div>
</div>
    <!--<div ng-if="result.content && result.contentType == 'application/pdf'">
        <embed ng-src="{{result.content}}" ng-attr-type="{{result.contentType}}" class="preview-responsedata" />
    </div>
    <div ng-if="result.content && (result.contentType == 'application/png' || result.contentType == 'application/jpeg'">
        <img ng-src=" {{result.content}} " />
    </div>-->
</div>
