﻿<div ng-controller="ReportProposalController">
    <section class="content">
        <div class="form-horizontal">
            <box header-title="{{'Detail' | translate}}">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Id</label>
                    <div class="col-xs-4">
                        @*<input class="form-control" type="text" ng-model="params.DocumentNumber" />*@
                        <input class="form-control" type="text" ng-model="params.Id" />
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="col-xs-4 control-label" translate="yes">Format</label>
                        <div class="col-xs-8">
                            <select kendo-drop-down-list
                                    k-options="formatOption"
                                    k-ng-model="params.Format"
                                    name="format"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" translate="yes">Page</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" ng-model="params.PageFrom" /> <translate>to</translate> <input class="form-control" type="text" ng-model="params.PageTo" />
                        </div>
                    </div>*@
                @Html.Partial("_Report")
            </box>
        </div>
    </section>
</div>