﻿<div ng-controller="ReportViewController">
    <section class="content">
        <div class="form-horizontal">
            <box header-title="{{'Detail' | translate}}">
                <div class="form-group">
                    <label class="col-xs-4 control-label">ID</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" ng-model="params.id"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" translate="yes">Format</label>
                    <div class="col-xs-8">
                        <select kendo-drop-down-list
                                k-options="formatOption"
                                k-ng-model="params.format"
                                name="format"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" translate="yes">Page</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" ng-model="params.PageFrom"/> <translate>to</translate> <input class="form-control" type="text" ng-model="params.PageTo"/>
                    </div>
                </div>
              @Html.Partial("_report")
            </box>
        </div>
    </section>
</div>