﻿<script src="/mps/content/kendo/jszip.min.js"></script>
<section class="content-header">
    <header-title small-title-message="Marketing Proposal">Budget Year Tracking Report</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> HomeMenuLabel</a></li>
        <li><a href="#">Budget</a></li>
        <li class="active"><a href="budgettracking/budgetyearplan">Budget Year Tracking</a></li>
    </ol>
</section>
<section class="content" ng-controller="budgetyeartrackingController">
    <box header-title="Budget Tracking (Year)">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
</section>


