﻿<script src="/mps/content/kendo/jszip.min.js"></script>
<section class="content-header">
    <header-title small-title-message="Marketing Proposal">Budget Tracking Report</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Budget</a></li>
        <li class="active"><a href="budgettracking/index">Budget Tracking</a></li>
    </ol>
</section>

<section class="content" ng-controller="budgettrackingController">
    <box header-title="Budget Tracking (Proposal)">
        <div kendo-grid="grid" options="gridKendoOption"></div>
    </box>
</section>

<script type="text/x-kendo-template" id="budgettrackingToolbarTemplate">
    <a class="btn btn-primary" ng-click='download()'><i class='fa fa-download'></i> Download</a>
</script>

