﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        height: 38px;
    }
    .btn {
        padding: 2px 4px;
    }
</style>
<section class="content-header">
    <header-title small-title-message="Memo Income">Marketing Proposal System</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="#">Memo Income</a></li>
        <li class="active"><a href="#">Index</a></li>
    </ol>
</section>
<section class="content">
    <div>
        <div ng-controller="WorkspaceaccountController">
            <box header-title="Workspace Memo Income">
                <div kendo-grid="$parent.$parent.$parent.grid" options="gridKendoOption"></div>
            </box>
        </div>
    </div>
    <div>
        <div ng-controller="memoincomeaccountController">
            <box header-title="Memo Income Related">
                <div kendo-grid="mygrid" options="gridKendoOptionRelated">
                </div>
            </box>
            <br />
        </div>
    </div>
</section>


