﻿<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="memoincomeFormController" kendo-validator="validator" ng-submit="validate($event)" k-options="validatorOption">

<section class="content-header">
    <header-title small-title-message="Memo Income">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="memoincome/index">Memo Income</a></li>
        <li class="active">@TheMall.MPS.Resources.Share.DetailLabel</li>
    </ol>
</section>

@*<pre>{{form.DepositLine}} </pre>*@

    <!-- Main content -->
    <section class="content" ng-if="form">
        <div class="box-btn">
            <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
                <a class="k-button btn-default" href='memoincome/'><i class="fa fa-arrow-left"></i> Back</a>
                @*<button type="submit" class="k-button btn-success ng-scope" style="color: #fff" ng-if="isAccount()"><i class="fa fa-save"></i> SAVE</button>*@
                @*<button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>*@
                @*<a class="k-button btn-info ng-scope" ng-show="form.StatusFlag === 9 && form.Requester.Username === '{{authentication.userName |  uppercase}}'" ng-href="{{printReport()}}" target="_blank"><i class="fa fa-print"></i> Print</a>*@
                <a class="k-button btn-info ng-scope" ng-show="form.StatusFlag === 1 && form.Status === 'Accounting On Process' && RequesterCheck === '{{authentication.userName |  uppercase}}'" ng-href="{{printReport()}}" target="_blank"><i class="fa fa-print"></i> Print</a>
            </div>
            <div ng-show="!isAccount()">
                <div ng-show="form.Actions.length > 0">
                    <k2-action-list actions="form.Actions" click="openK2ActionModal"></k2-action-list>
                </div>
            </div>
            <div ng-show="isAccount()">
                <div ng-show="form.Actions.length > 0">
                    <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
                </div>
            </div>
        </div>

        <box header-title="@TheMall.MPS.Resources.Share.RequesterInfoHeader">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.RequesterName :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.Requester.Username }} | {{ form.Requester.FullName}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.UnitCode :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.UnitCode.UnitCode }} - {{ form.UnitCode.UnitName}}
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.CreateDate :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.CreatedDate |  date:'dd/MM/yyyy'}}
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </box>

        <box header-title="Proposal detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Income category :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{category()}}
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalNumber :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <a href="proposal/detail/{{form.ProposalRef.Id}}" target="_blank">
                                <div class="text-left" style="width: 100%; height: 100%; word-wrap: break-word;">
                                    {{form.ProposalRef.DocumentNumber ? form.ProposalRef.DocumentNumber + " | " + form.ProposalRef.Title : form.ProposalRef.Title ? form.ProposalRef.Title : ""}}
                                    @*{{form.ProposalRef.DocumentNumber}} | {{form.ProposalRef.Title}}*@
                                </div>
                            </a>
                        </label>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalTitle :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left" style="width: 100%; height: 100%; word-wrap: break-word;">
                                {{form.ProposalRef.Title}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalType :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.ProposalRef.ProposalType.TypeProposalName}}
                            </div>
                        </label>
                    </div>
                </div>
                <div class="row" ng-show="show">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Source :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.ProposalRef.Source}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.RefDeposit :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.ProposalRef.DepositNumber}}
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.StartDate :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.ProposalRef.StartDate | date:'dd/MM/yyyy'}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.EndDate :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.ProposalRef.EndDate | date:'dd/MM/yyyy'}}
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="showIncomeOther">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Income other source :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.IncomeOther.SponcorName}} - {{ form.IncomeOther.Description}}
                            </div>
                        </label>
                    </div>
                    
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="showDeposit">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Deposit line :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.DepositLine.PaymentNo}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Budget detail :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.BudgetDetail | number}} baht
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </box>

        <box header-title="Memo Income information">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Memo Income number :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.DocumentNumber}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Status :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.Status}}
                            </div>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Memo Income title :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left" style="width: 100%; height: 100%; word-wrap: break-word;">
                                {{form.Title}}
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="showBranch">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Branch :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.Branch.PlaceCode}} - {{form.Branch.PlaceName}}
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Total amount :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.TotalAmount | number}} baht
                            </div>
                        </label>
                    </div>
                </div>
                <div class="row" ng-show="form.InvoiceNo">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Invoice No. :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.InvoiceNo}} 
                            </div>
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Actual :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.Actual | number}} baht
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </box>

        <box header-title="@TheMall.MPS.Resources.Proposal.Description" id="editorfull" expanded="false">
            <div class="container-fluid">
                <div class="row">
                    @*<textarea kendo-editor k-ng-model="form.Description" k-options="DescriptionEditor"
                    id="texteditor" rows="20" style=" height: 400px" readonly="readonly"></textarea>*@
                    <div class="text-left" ng-bind-html=" trustAsHtml(form.Description)" style="word-wrap: break-word; margin-left: 30px;">
                    </div>
                </div>
            </div>
        </box>
        
    <box header-title="Memo income detail">
        <div class="container-fluid">
            <div class="row">
                <div kendo-grid="$parent.$parent.$parent.depositLine" options="MemoIncomeLinesGridOption()"></div>
            </div>
        </div>
    </box>
    
    <box header-title="Invoice" ng-if="isAccount() || form.StatusFlag === 9">
        <div class="container-fluid">
            <div class="row">
                <div kendo-grid="$parent.$parent.$parent.invoiceLine" options="InvoiceGridOption()"></div>
            </div>
        </div>
    </box>

    <box header-title="@TheMall.MPS.Resources.Share.AttachmentHeader">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">Attachment files</label>
                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                            <attachment-view-share attachments="form.OtherFiles"></attachment-view-share>
                        </div>
                    </div>

                </div>
            </div>
        </box>

        @Html.Partial("_AccountingReadOnly")
        @Html.Partial("_ApproverGrids")

        <div class="box-btn">
            <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
                <a class="k-button btn-default" href='memoincome/'><i class="fa fa-arrow-left"></i> Back</a>
                @*<button type="submit" class="k-button btn-success ng-scope" style="color: #fff"><i class="fa fa-save"></i> SAVE</button>*@
                @*<button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>*@
                <a class="k-button btn-info ng-scope" ng-show="form.StatusFlag === 1 && form.Status === 'Accounting On Process' && RequesterCheck === '{{authentication.userName | uppercase}}'" ng-href="{{printReport()}}" target="_blank"><i class="fa fa-print"></i> Print</a>
            </div>
            <div ng-show="!isAccount()">
                <div ng-show="form.Actions.length > 0">
                    <k2-action-list actions="form.Actions" click="openK2ActionModal"></k2-action-list>
                </div>
            </div>
            <div ng-show="isAccount()">
                <div ng-show="form.Actions.length > 0">
                    <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
                </div>
            </div>
        </div>

        @Html.Partial("_CommentHistory")

    </section>
</form>