﻿<style>
    .k-state-disabled .k-multiselect-wrap {
        background-color: #eeeeee;
    }
    li.k-button.ng-scope {
        color: black;
    }
    .popup-search-target {
        color: #555555;
    }
</style>

<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="memoincomeFormController" kendo-validator="validator" ng-submit="validate($event)">

@*<pre>{{checkedUnitCode}} </pre>  
<pre>{{checkCategory}} </pre> 
<pre>{{form.Category | json}} </pre>*@
@*<pre>{{form.DepositLine | json}} </pre>*@

<section class="content-header">
    <header-title small-title-message="Memo Income">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="memoincome/index">Memo Income</a></li>
        <li class="active">@TheMall.MPS.Resources.Share.CreateLabel</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" ng-if="form">
    <div class="box-btn">
        <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
            <a class="k-button btn-default" href='memoincome/'><i class="fa fa-arrow-left"></i> Back</a>
            <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
            <button ng-show="!form.StatusFlag" type="button" ng-click="validate($event,false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>
        </div>
        <div ng-show="form.Actions.length > 0">
            <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
        </div>
    </div>

@Html.Partial("_RequesterInfo")

<box header-title="Proposal detail">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>Income category
                </label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select kendo-drop-down-list
                            k-options="incomecategoryOptions()"
                            k-ng-model="form.Category"
                            k-on-change="CategoryOptionChange(form.Category)"
                            name="Category"
                            required="required">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>@TheMall.MPS.Resources.Proposal.ProposalNumber
                </label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div kendo-popup-search
                         data-bind="value:ProposalRef,source:null"
                         name="Proposal number"
                         k-options="proposalNumberOption2"
                         ng-model="form.ProposalRef"
                         ng-disabled="!(checkedUnitCode && checkCategory)"
                         required="required"
                         style="width: 100%; height: 100%; word-wrap: break-word;"></div>
                    @*<input class="form-control input-sm" ng-model="form.DocumentNumber">*@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalTitle</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.ProposalRef.Title" readonly="readonly">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalType</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    @*<select kendo-drop-down-list
                                    k-options="proposalTypeOption()"
                                    k-ng-model="form.ProposalRef.ProposalType"
                                    name="@TheMall.MPS.Resources.Proposal.ProposalType"
                                    k-on-change="checkDeposit()"
                                    disabled>
                            </select>*@
                    <input class="form-control input-sm" ng-model="form.ProposalRef.ProposalType.TypeProposalName" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.StartDate</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input crs-date-picker k-ng-model="form.ProposalRef.StartDate" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.EndDate</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input crs-date-picker k-ng-model="form.ProposalRef.EndDate" readonly="readonly"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="showIncomeOther">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>Income other source
                </label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select kendo-drop-down-list
                            k-options="incomeotherOption"
                            k-ng-model="form.IncomeOther"
                            name="incomeOther">
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="showDeposit">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>Deposit line
                </label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select kendo-drop-down-list
                            k-options="depositLineOption"
                            k-ng-model="form.DepositLine"
                            name="depositLine">
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Budget detail</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="input-group">
                        <input price-text-box min="0" type="number" style="width: 100%;" ng-model="form.BudgetDetail" readonly="readonly">
                        <span class="input-group-addon">
                            @TheMall.MPS.Resources.Share.Baht
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Proposal.MemoIncome">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.MemoIncomenumber</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.DocumentNumber" readonly="readonly">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Status</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.Status" readonly="readonly"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.MemoIncomeTitle</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.Title" name="@TheMall.MPS.Resources.Proposal.MemoTitle" required="required"/>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="showBranch">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Proposal.BranchName</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    <select kendo-drop-down-list
                            k-options="branchOptions"
                            k-ng-model="form.Branch"
                            name="@TheMall.MPS.Resources.Proposal.BranchName"
                            k-on-change="BranchToAccounting(form.Branch)">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.TotalAmount</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="input-group">
                        <input price-text-box min="0" type="number" style="width: 100%;" ng-model="form.TotalAmount" readonly="readonly">
                        <span class="input-group-addon">
                            @TheMall.MPS.Resources.Share.Baht
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</box>
<box header-title="@TheMall.MPS.Resources.Proposal.Description" id="editorfull">
    <div class="container-fluid">
        <div class="row">
            <textarea kendo-editor k-ng-model="form.Description" k-options="DescriptionEditor" rows="20" style="height: 400px"></textarea>
        </div>
    </div>
</box>

<box header-title="Memo income detail">
    <div class="container-fluid">
        <div class="row">
            <div kendo-grid="$parent.$parent.$parent.depositLine" options="MemoIncomeLinesGridOption()"></div>
        </div>
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Share.AttachmentHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">
                    Attachment files
                    <span><i class="fa fa-exclamation-circle" aria-hidden="true" title="@TheMall.MPS.Resources.Share.AttachmentType"></i></span>
                </label>
                <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                    <app-upload name="otherFiles"
                                handler="uploadHandler"
                                ng-model="form.OtherFiles"
                                save-url="attchmentSaveUrl"/>
                </div>
            </div>
        </div>
    </div>
</box>

@Html.Partial("_Accounting")
@Html.Partial("_ApproverGrids")

<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='memoincome/'><i class="fa fa-arrow-left"></i> Back</a>
        <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
        <button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>
    </div>
    <div ng-show="form.Actions.length > 0">
        <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
    </div>
</div>
<div ng-show="showComments">
    @Html.Partial("_CommentHistory")
</div>
</section>
</form>
