﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        height: 38px;
    }
    .btn {
        padding: 2px 4px;
    }
</style>
<section class="content-header">
    <header-title small-title-message="Memo Income">Marketing Proposal System</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="#">Memo Income</a></li>
        <li class="active"><a href="#">Index</a></li>
    </ol>
</section>
<section class="content">
    <div ng-controller="memoincomeController">
        <box header-title="My Memo Income">
            <div kendo-grid="mygrid" options="gridKendoOption">
            </div>
        </box>
    </div>
</section>
<script type="text/x-kendo-template" id="memoincomeToolbarTemplate">
    <div class="toolbar">
        <div class="btn-group" role="group">
            <a class="k-button btn-success" href='memoincome/create'><i class="fa fa-plus"></i> Create New Memo Income</a>
        </div>
    </div>
</script>

