﻿<div>
    <div class="modal-header">
        <h3 class="modal-title">CONFIRMATION</h3>
    </div>
    <div class="modal-body">
        <new-comment newcomment="form.Comment"></new-comment>
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <div class="form-group">
                    <button type="button" class="k-button k2-action-button k2-action-button-{{choosenAction.toLowerCase().replace(' ', '-')}}" ng-click="chooseAction(choosenAction)">
                        <i class="fa k2-action-button-fa-{{choosenAction.toLowerCase().replace(' ', '-')}}"></i>{{choosenAction}}
                    </button>
                    <button class="k-button btn-default" type="button" ng-click="modalInstance.dismiss('close')">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>