﻿<table class="table table-striped table-responsive animated attachmentlist">
    <tr data-ng-repeat="file in attachments | documentType:documentType.Value" ng-class="{'deleting':file._deleting}">
        <td class="text-center file-icon">
            <span file-icon ext="{{file.name}}"></span>
        </td>
        <td class="file-thumbnail" data-ng-switch data-on="!!file.thumbnail_url">
            <div class="preview" data-ng-switch-when="true">
                <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">
                    <img ngf-src="file.thumbnail_url" />
                </a>
            </div>
            <img data-ng-switch-default ngf-thumbnail="file" ngf-size="{width: 80, height: 80, quality: 0.9}">
        </td>
        <td class="file-name">
            <p class="name" data-ng-switch data-on="!!file.url">
                <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                    <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                    <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                </span>
                <span data-ng-switch-default>{{file.name}}</span>
            </p>
        </td>
        <td class="file-title">
            <input type="text" class="k-textbox title" name="title" maxlength="300" ng-value="file.title" disabled="disabled" />
        </td>
        <td class="file-size">
            <p class="size">{{file.size | formatFileSize}}</p>
        </td>
        <td class="file-download">
            <div class="btn-group" ng-hide="!file.url">
                <a class="btn btn-default" href="{{file.url}}" target="_blank" ng-disabled="!file.url"><i class="fa fa-download"></i> <span class="visible-lg-inline">Download</span></a>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-disabled="!file.url">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="getCopy(file.getcopy_url)">Download a copy</a></li>
                </ul>
            </div>
        </td>
        <td class="file-delete" ng-show="!file._uploading">
            <button type="button" class="btn btn-danger" ng-click="deleteFile(file, files, attachments)"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
</table>