﻿
<table class="table table-condensed table-responsive upload animated attachmentlist">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="file in files" ng-class="{'deleting':file._deleting}">
            <td class="text-center file-icon">
                <span file-icon ext="{{file.name}}"></span>
            </td>
            <td class="file-thumbnail" data-ng-switch data-on="!!file.thumbnail_url">
                <div class="preview" data-ng-switch-when="true">
                    <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">
                        <img ngf-src="file.thumbnail_url" />
                    </a>
                </div>
                <img data-ng-switch-default ngf-thumbnail="file" ngf-size="{width: 80, height: 80, quality: 0.9}">
            </td>
            <td class="file-name">
                <p class="name" data-ng-switch data-on="!!file.url">
                    <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                        <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                        <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                    </span>
                    <span data-ng-switch-default>{{file.name}}</span>
                </p>
            </td>
            <td class="file-title" ng-show="!file._uploading">

                <input type="text" class="k-textbox title" name="title" maxlength="300" ng-model="file.title" ng-disabled="file._uploading" />
                <!--<input type="text" class="k-textbox title" name="title" maxlength="300" ng-model="titles[$index]" ng-disabled="file._uploading"/>-->
            </td>
            <td class="file-size" ng-show="!file._uploading">
                <p class="size">{{file.size | formatFileSize}}</p>
            </td>
            <td class="file-delete" ng-show="!file._uploading">
                <button type="button" class="btn btn-danger" ng-click="deleteFile(file, files, attachments)"><i class="fa fa-trash"></i></button>
            </td>
            <td class="file-progress" colspan="3" ng-show="file._uploading">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped"
                         ng-class="{'active':!file._isError, 'progress-bar-danger': file._isError,'progress-bar-success': file._uploading >= 100 && !file._isError}"
                         role="progressbar"
                         aria-valuenow="{{file._uploading}}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         ng-style="file._style">
                        <span ng-show="file._uploading > 0 && !file._isError">{{file._uploading}}% Complete</span>
                        <span ng-show="file._isError">Error</span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>