﻿<form ng-controller="SharedPercentFormController" kendo-validator="validator" ng-submit="validate($event)">
    @*<pre>{{form | json}}</pre>*@
    <section class="content-header">
        <header-title small-title-message="Shared-percent">Master</header-title>
        <ol class="breadcrumb">
            <li><a href="Home"><i class="fa fa-home"></i> HomemenuLabel</a></li>
            <li><a href="master/index">Master</a></li>
            @*<li><a href="projectinfo">@LAQ.Resources.Land.Source</a></li>*@
            <li class="active"><a href="master/place/index">Share-percent</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box-btn">
            <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
                <a class="k-button btn-default" href='SharedPercent/index'> Back</a>
                <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>

                @*<button type="button" class="k-button btn-danger" ng-click="delete()"><i class="fa fa-trash"></i> Delete</button>*@
            </div>
        </div>
        <box header-title="Shared-percent">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>รูปแบบที่</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class=" form-control input-sm" ng-model="form.Id" ng-readonly="fromEdit" name="Id" required="required" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>รายละเอียด</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class=" form-control input-sm" ng-model="form.Description" name="Description" required="required" />
                        </div>
                    </div>
                </div>
            </div>
        </box>

        <box header-title="Shared-percent">
            <div kendo-grid="grid" options="gridKendoOption"></div>
        </box>
    </section>
</form>

