﻿<section class="content-header">
    <header-title small-title-message="Shared-percent">Shared-percent Master Data</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> HomeMenuLabel</a></li>
        <li><a href="master/index">Master</a></li>
        <li class="active"><a href="master/place/index">Shared-percent</a></li>
    </ol>
</section>
<section class="content" ng-controller="SharedPercentController">
    <box header-title="Shared-percent">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
</section>
<script type="text/x-kendo-template" id="toolbarTemplate">
    <div class="toolbar">

        <div class="btn-group" role="group">
            <a btn-create href="SharedPercent/create" />
        </div>
    </div>
</script>