﻿<section class="content-header">
    <header-title small-title-message="Allocation basis">Master data</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> HomeMenuLabel</a></li>
        <li><a href="#">Master</a></li>
        <li class="active"><a href="allocationbasis/index">Allocation basis</a></li>
    </ol>
</section>
<section class="content" ng-controller="allocationBasisController">
    <box header-title="Allocation basis">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
    @*{{gridKendoOption22()}}
        <pre>{{gridKendoOption()}}</pre>*@
</section>
<script type="text/x-kendo-template" id="allocationBasisTemplate">
    <div class="toolbar">

        <div class="btn-group" role="group">
            <a btn-create href="allocationbasis/create" />
        </div>
    </div>
</script>
