﻿<form ng-controller="AccountCtrl" ng-submit="login()">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="login-box">
                    <div class="login-box-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-5">

                                <img src="Content/images/themallgroup.png" style="width: 80%; padding-top: 50px; display: table-cell; margin: auto auto; ">

                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div class="row text-center">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="color: #000000; margin-top: 25px; ">
                                        <div class="head-login ">
                                            MARKETING PROPOSAL SYSTEM 888
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="input-group" style="margin-top: 15px;">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-user "></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="{{'Username'}}" ng-model="form.userName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="input-group" style="margin-top: 10px;">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock "></span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="{{'Password'}}" ng-model="form.password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                                        <div class="input-group">
                                            <button type="submit" class="btn btn-danger" style="width: 100%;">LOGIN</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

