﻿@import "lesshat/lesshat.less";
@import "fontawesome/less/font-awesome.less";

body {
    font-size:12px;
    color: #888888-30;
    font-family:  Helvetica, Arial, sans-serif;
}


label {
    font-weight: normal;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}

.form-readonly .control-input {
    padding-top: 7px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.form-readonly .control-input div.k-textbox {
    margin-top: -6px;
}

.form-group {
    margin-bottom: 10px;
    //min-height: 34px;

    label.control-label {   
        text-align: right;
        font-size: 12px;
        // color: #888888;
    }

    .col-full-right {
        padding-left: 10px;
    }
}

.form-control-info {
    float: left;
    width: 95%;
}

.form-control-info + i {
    padding-top: 7px;
    padding-left: 3px;
}

.form-group > div > .form-control {

    &:hover, &:active, &:focus {
        .box-shadow(0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05));
    }
}

.form-control {
    height: 30px;

    &:focus {
        border-color: #84B939;
    }
}

.form-control[detail] {
    background-color: #ffffff;
    opacity: 1;
}

.input-group {
    &:hover, &:active, &:focus {
        background-color: #ffffff;
        border-color: #f5f5f5;
        .box-shadow(0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05));
    }
}

.input-sm {
    font-size: 14px;
}

.show-hide {
    .transition(all linear 0.2s);
}

.show-hide.ng-hide {
    opacity: 0;
}

span.k-dropdown {
    width: 100%;
    color: #555;
    background-color: #fff;
    background-image: none;
   //height: 38px;
    /*border: 1px solid #ccc;
    border-radius: 0px;*/
    .k-state-default {
        border-color: #ccc;
    }
}

span.k-dropdown-wrap {
    border: 1px solid #ccc;
    border-radius: 0px;
}

.k-grid {
    .k-alt {
        background-color: #EFEFEF;
    }
}

.readonly {
    background-color: #eee;
}

.input-group {
    .input-group-addon.readonly {
        background-color: #eee;
    }
}

.half-col {
    padding-left: 7px;
}


.btn {
    border-radius: 0px;
}

.box-btn {
    padding-bottom: 15px;
}

.form-title {
    display: inline;
    background-color: #f7f7f7;
}

.form-title-group {
    /*border-bottom: 2px solid;
    margin-bottom: 15px;
    padding: 0px;
    border-color: #888888-30;
    width: 100%;
    color: #888888-20;*/
    //font-weight: bold;
    // font-style: italic;
    border-bottom: 3px solid;
    border-bottom-color: #e7e7e7;
    border-top-left-radius: 8px;
    padding: 0px;
    color: #4a7f00;
    font-family: Tahoma;
    font-weight: bold;
    .background-image(linear-gradient(to right, #bbf171 0%,#e4f9c6 100%));
    margin-bottom: 5px;

    .form-title-group-icon {
        border-top-left-radius: 8px;
        width: 35px;
        float: left;
        text-align: center;
        padding: 4px;
        color: #ffffff;
        background: #6db804;
        font-size: 18px;
        margin-right: 5px;
    }

    h4 {
        padding: 7px;
        margin: 0px;
        /*margin-bottom: 5px;
        font-size: 16px;
        font-weight: bold;*/
    }

    .icon-wrapper {
        text-align: center;
        font-size: 18px;

        &.right {
            float: right;
        }

        a, button {
            color: #6db804;

            &:hover, &:active, &:focus {
                color: #4a7f00;
            }
        }
    }
}

.k-content {
    color: #888888-30;
}

.k-edit-form-container {
    width: 100%;
}

.k-datepicker {
    width: 100%;
}

.k-picker-wrap.k-state-default {
    border-color: #D2D6DE;
}

.k-scheduler-layout .k-state-selected, .k-scheduler .k-today.k-state-selected,
.k-grid tr.k-state-selected, .k-grid td.k-state-selected, .k-grid td.k-state-selected.k-state-focused,
.k-marquee-color, .k-gantt .k-treelist .k-state-selected, .k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected, .k-gantt .k-treelist .k-alt.k-state-selected > td,
.k-listview > .k-state-selected, .k-state-selected.k-line {
    background-color: #bbbbbb;
}

.k-block, .k-button, .k-textbox, .k-drag-clue, .k-touch-scrollbar, .k-window, .k-window-titleless .k-window-content, .k-window-action, .k-inline-block, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-autocomplete, .k-multiselect, .k-combobox, .k-dropdown, .k-dropdown-wrap,
.k-datepicker, .k-timepicker, .k-colorpicker, .k-datetimepicker, .k-notification, .k-numerictextbox,
.k-picker-wrap, .k-numeric-wrap, .k-colorpicker, .k-list-container, .k-calendar-container,
.k-calendar td, .k-calendar .k-link, .k-treeview .k-in, .k-editor-inline, .k-tooltip, .k-tile,
.k-slider-track, .k-slider-selection, .k-upload {
    border-radius: 0px;
}

.k-input[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

.k-textbox[disabled] {
    border-color: #d2d6de;
    background-color: #eee;
    opacity: 1;
    cursor: not-allowed;

    &:hover {
        background-color: #eee;
    }
}

.k-textbox, .k-multiselect, .k-autocomplete, .k-dropdown {


    &:focus {
        border-color: #84B939;
    }
}

.k-widget.k-window {
    a.popup-search-placeholder-wrapper {
        width: 19.6em;
        height: 15px;
    }

    .k-edit-field {
        label:not(.k-checkbox-label) {
            padding: 0px;
        }
    }

    .popup-search-target.form-control {
        padding: 0px 12px;
        width: 58%;
    }
    .col-md-6 .popup-search-target.form-control {
        padding: 0 12px;
        width: 100%;
    }

    .k-textbox, .k-multiselect, .k-autocomplete, .k-dropdown {
        width: 21.4em;

        &:focus {
            border-color: #84B939;
        }
    }

    .k-datepicker {
        border-color: #e6e6e6;
        width: 21.4em;
    }

    .input-group {
        /*width: 100px;*/
        .form-control {
            width: 18.7em;
        }

        &:hover {
            /*width: 18.7em;*/
        }
    }
}

.popup-search {

    min-height: 20px;
}

.popup-search-placeholder {
    div {
        margin-top: -3px;
    }
}

.popup-search-filter-textbox {
    width: 60%;
    border-color: #DCD8D8;
}

.popup-search-modal-header {
    border: 0px;
    border-top: 5px;
    border-top-color: #729d32;
    border-top-style: solid;
}

.popup-search-modal-footer {
    text-align: center;
}

.popup-search-modal-content {
    border: 5px;
    border-color: rgba(175, 173, 174, 0.87);
    border-style: solid;
    border-radius: 5px;
}

.popup-search-result-grid {
    width: 90%;
    margin-left: 5%;
}

.popup-search-btn {
    min-width: 100px;
}

.k-grid-header {
    .k-header {
        color: #696969;
    }
}

.k-edit-label {
    width: 43%;
}

.k-edit-field {
    width: 50%;
}

.k-textbox, .k-autocomplete, .k-dropdown {
    border-color: #d2d6de;
}

.k-dropdown-wrap.k-state-disabled {
    //border: 0px;
    ///
    border: 1px solid #ccc;
    background-color: #eeeeee;
    ///
}

.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default {
    border-color: #d2d6de;
}

.k-multiselect.k-header {
    border-color: #d2d6de;
    /*&:hover {
    border-color: #d2d6de;

    }*/
    &:hover, &:active, &:focus {
        .box-shadow(0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05));
    }
}

.content-header {
    h1 {
        color: #3b2b24;
        font-weight: bold;
        font-style: italic;
        font-family: tahoma;
        font-size: 24px;
        margin: 0;

        small {
            font-style: normal;
            font-weight: bold;
        }
    }
}

.attachment-highlight {
    border-radius: 10px;
    border: 2px solid #e6b54c;
    padding-left: 8px;
}

.manual-kendo-async-upload-highlight:before {
    content: "*";
    color: red;
}

.documentTypeName manual-kendo-async-upload-documentTypeName:before {
    content: "*";
}

.attachment-section {
    /*margin-top: 6px;
    padding-bottom: 8px;*/
    border-bottom: solid 1px #e6b54c;
}

.nav-tab-detail {
    border: none;

    li {
        float: left;
        border: none;
        /*border-right: 1px solid;
        border-color: #ebebeb;*/
        /*margin: 5px 0px 5px 0px;*/
        a {
            background-color: white;
            /*min-width: 150px;
            min-height: 60px;*/
            /*width: 150px;
            min-height: 81px;*/
           // min-width: 272px;
            min-height: 60px;
            margin-right: 0px;
            text-align: center;
            color: #999999;
            border: none;
            border-radius: 0px;
            border-right: 1px solid;
            border-top: 1px solid;
            border-color: #ebebeb;
            /*&:hover, &:active, &:focus {
                color: #ffb700+20;
                .background-image(linear-gradient(to bottom, #fafafa 0%,#ebebeb 100%));
            }*/
        }

        &:hover, &:active, &:focus {
            color: #ffb700+20;
            .background-image(linear-gradient(to bottom, #fafafa 0%,#ebebeb 100%));
        }
    }

    li.active {


        a {
            text-align: center;
            color: #ffb700;
            border: none;
            border-radius: 0px;
            border-right: 1px solid;
            border-top: 1px solid;
            border-color: #ebebeb;
            .background-image(linear-gradient(to bottom, #fafafa 0%,#ebebeb 100%));

            &:hover, &:active, &:focus {
                border: none;
                color: #ffb700;
                border-radius: 0px;
                border-right: 1px solid;
                border-top: 1px solid;
                border-color: #ebebeb;
            }
        }
    }
}



.btn-login {
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    .background-image( linear-gradient(to bottom, #588f0f 0%,#6dad18 100%));

    &:hover, &:active, &:focus {
        .background-image( linear-gradient(to bottom, #588f0f-10 0%,#6dad18-10 100%));
        color: white;
    }
}

.textbox-login {
    background-color: #c7c7c7;
    //border-radius: 5px;
    color: #FFF;
    //font-weight:bold;
    font-size: 16px;

    &:focus {
        border-color: #c7c7c7-20;
        background-color: #fff;
        color: #777;
    }
}

.icheckbox_minimal-green {
    margin-left: 10px;
}

.tab-pane {
    width: 100%;
    //padding-top: 5px;
    padding-top: 20px;
}

.k-dropdown {
    .k-state-default {
        border: 1px solid #ccc;
        border-radius: 0px;
    }
}

.radio, .checkbox {
    margin-top: 0px;
}

/*.k-radio-label:before {
    width: 18px;
    height: 18px;
}*/

.k-editable-area textarea { 
   /* will prevent resizing horizontally */
   resize:vertical;
}

iframe {
   width: 100% !important;
}

.k-radio-label {
      line-height: inherit;

}

.radio-label-inline {
    float: left;
    margin-right: 9px;
    padding-top: 3px;
}

.radio-list,.checkbox-list {
    padding-top: 7px;
}

.attachment-view .attachment-view-item {
    margin-top: 6px;
    border-bottom: solid 1px #e6b54c;
    padding-bottom: 8px;
}

.attachment-view .attachment-view-right .btn {
    width: 100%;
}

.k-grid {
    .k-grid-header {
        .k-header {
            .k-link {
                height: auto;
            }
        }
    }
}

.k-grid {
    .k-grid-header {
        .k-header {
            white-space: normal;
        }
    }
}

.k-edit-field {
    label:not(.k-checkbox-label) {
        padding: .4em 0 1em;
    }

    label.k-checkbox-label, .k-checkbox {
        margin-top: .4em;
    }
}

.star {
    color: red;
    font-weight: bold;
}

.checkbox-inline-readonly {
    float: left;
    padding-right: 5px;
}

.preview-report {
    padding: 50px 0px 10px 0px;
    background: #B8B8B8;
    border-radius: 6px;
}

.preview-datasource {
    text-align: center;
    margin-top: 60px;
    height: 80px;
}

.preview-responsedata {
    width: 100%;
    height: 600px;
}

.k-widget.k-window {
    .k-widget.k-numerictextbox {
        width: 21.4em;
    }

    .input-group {
        .k-widget.k-numerictextbox {
            width: 100%;
        }
    }
}

.report-filter-line {
    //height: 200px;
    text-align: left;
    padding-left: 20px;

    h5 {
        margin-bottom: 0px;
    }

    h2 {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    h6 {
        margin-top: 0px;
    }

    .k-chart {
        margin-top: 13px;
        // margin-bottom: 20px;
        //margin-left: auto;
        //margin-right: auto;
    }
}

.report-filter-line-process {
    //height: 200px;
    text-align: center;
    padding-left: 20px;

    h5 {
        margin-bottom: 0px;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    h6 {
        margin-top: 0px;
    }
}

.worklist-flag-icon {
    width:25px;
}

.mapimage {
max-width: 1000px;
}

.k-group-footer td {

    background-color : #d8e4e8
}
.k-grid-footer td {
     background-color : #d8e4e8
     //#f3b75d
}
.k-footer-template td {
    background-color: #a3bcc5;
}
.content-header h1 {
  color: #351609;
  font-weight: 400;
  font-style: normal;
  font-family: Arial;
  font-size: 20px;
  margin: 0;
}
.k-grid td {
    overflow : visible ;
 /*border-bottom : 1px solid #cccccc !important;*/

}
.text-left{
    text-align:left;
}
.k-grid tbody .k-button{
    min-width: 50px;
}


//
.k-dropdown[disabled]{
  color: #000000;
}

.k-datepicker input {
    pointer-events:none;
}
.k-grid tbody .k-button {
    min-width: 40px;
}

//
.block-ui-message {
    z-index :999999;
}