﻿//@import "bootstrap/less/bootstrap.less";
@import "fontawesome/less/font-awesome.less";
@import "adminlte/less/AdminLTE.less";
@import "adminlte/less/skins/skin-green.less";
@import "angular-loading-bar/loading-bar.less";
@import "angular-block-ui/angular-block-ui.less";
@import "animate/animate.less";
@import (reference) "lesshat/lesshat-prefixed.less";
@import "variables.less";
@import "form-control.less";

@pks-btn-primary-color: #ffffff;
@pks-btn-primary-bg: #3c8dbc;
@pks-btn-primary-border: #367fa9;

@pks-btn-success-color: #ffffff;
@pks-btn-success-bg: #00a65a;
@pks-btn-success-border: #008d4c;

@pks-btn-info-color: #ffffff;
@pks-btn-info-bg: #00c0ef;
@pks-btn-info-border: #00acd6;

@pks-btn-warning-color: #ffffff;
@pks-btn-warning-bg: #f39c12;
@pks-btn-warning-border: #e08e0b;

@pks-btn-danger-color: #ffffff;
@pks-btn-danger-bg: #dd4b39;
@pks-btn-danger-border: #d73925;


.login-page {
    background-image: url('images/bglogin.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.login-box {
    width: 50%;
    margin: 15% 35%;

    .logo-box-body > img {
            width: 80%;
    padding-top: 50px;
    display: table-cell;
    margin: auto auto;
        /*position: absolute;
        top: 120px;
        left: 280px;
        z-index: 1;
        border: 0.1px #000;*/
    }

    .login-box-body {
        background-color: rgba(240, 240, 240, 0.68);
        height: 300px;
        width: 100%;
        border-radius: 10px;
        /*opacity: 0.65;*/
        border-style: solid;
        border-width: 5px;
        border-color: rgba(255, 255, 255, 0.62);
    }

    .head-login {
        width: 90%;
        font-weight: bold;
        font-size: initial;
    }

    .input-group {
        width: 90%;

        .input-group-addon {
            border-color: #fff;
            background-color: #ecf0f5;
            border: 1px solid #fff;
        }

        .form-control {
            margin-left: 0px;
            width: 100%;
            height: 35px;
            margin-top: 0px;
            border: 1px solid #fff;
            background-color: #ecf0f5;
        }
    }
}

.input-group:hover {
    background-color: none;
}
/*@media (max-width: 575px) {

    .login-box {
        margin-top: 22%;
        margin-left: 13%;

        .logo-box-body {
            position: absolute;
            top: 75px;
            left: 50px;
        }

        .login-box-body {
            width: 400px;
            height: 280px;
        }

        .form-control {
            width: 300px;
            margin-left: 35px;
        }

        .glyphicon {
            margin-right: 40px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .login-box {
        margin-top: 16%;
        margin-left: 23%;

        .logo-box-body {
            position: absolute;
            top: 70px;
            left: 150px;
        }

        .login-box-body {
            width: 420px;
            height: 290px;
        }

        .form-control {
            width: 301px;
            margin-left: 45px;
        }

        .glyphicon {
            margin-right: 40px;
        }
    }
}*/

/*@media (min-width: 768px) and (max-width: 991px) {


    .login-box {
        width: 50%;
        margin: 15% 30%;

        .logo-box-body {
            position: absolute;
        }

        .login-box-body {
            width: 100%;
            height: 290px;
        }

        .head-login {
            width: 100%;
            font-weight: bold;
            font-size: 11px;
            margin-left: -10px;
        }

        .form-control {
            width: 90%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .login-box {
        margin-top: 11%;
        margin-left: 23%;

        .logo-box-body {
            position: absolute;
            top: 58px;
            left: 200px;
        }

        .login-box-body {
            width: 500px;
            height: 300px;
        }

        .form-control {
            margin-left: 84px;
            width: 302px;
        }

        .glyphicon {
            margin-right: 80px;
        }
    }
}*/

@media (max-width: 414px) {

    .login-box {
         .logo-box-body > img {
          
    padding-top: 0px;
   
    
    }
        .head-login {
            width: 100%;
            font-weight: 700;
            font-size: initial;
            font-size: 14px;
        }

        .logo-box-body {
            padding-top: 100px;
        }

        .login-box-body {
            margin-top: 120px;
            width: 170%;
            margin-left: -50%;
        }
    }
}

.main-wrapper.wrapper-remove {
    //.lh-animation(fadeOut 1s);
}

.main-sidebar.ng-hide-remove {
    .lh-animation(slideInLeft 1s);
}

.main-sidebar.ng-hide-add {
    .lh-animation(slideOutLeft 1s);
}

.main-header.ng-hide-remove {
    .lh-animation(slideInDown 1s);
}

.main-header.ng-hide-add {
    .lh-animation(slideOutUp 1s);
}

.main-view-wrapper.content-wrapper-add {
    .lh-animation(fadeIn 1s);
}

.main-view-wrapper.content-wrapper-remove {
    .lh-animation(fadeIn 1s);
}

.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    .lh-transition(.25s)
}

.sidebar-menu .treeview-menu > li > a {
    font-size: 11px;
}
.sidebar-menu .treeview-menu {
    background-color: #3f484c;
}

.sidebar-menu .treeview-menu > li  :hover {
    background-color: rgba(255,255,255,.41176471);
}
.sidebar-menu li.active > a > .fa-angle-left {
    .lh-transition(.25s)
}

.form-title-group {
    border-bottom: 3px solid;
    border-bottom-color: #e7e7e7;
    border-top-left-radius: 8px;
    padding: 0;
    color: @form-title-group-color;
    font-family: Tahoma;
    font-weight: bold;
    .lh-background-image(linear-gradient(to right, #bbf171 0%,#e4f9c6 100%));
    margin-bottom: 5px;

    .form-title-group-icon {
        border-top-left-radius: 8px;
        width: 35px;
        float: left;
        text-align: center;
        padding: 4px;
        color: #ffffff;
        background: @form-title-group-color-alt;
        font-size: 18px;
        margin-right: 5px;
    }

    h1, h2, h3, h4 {
        padding: 7px;
        margin: 0;
    }

    .icon-wrapper {
        text-align: center;
        font-size: 18px;

        &.right {
            float: right;
        }

        a, button {
            color: @form-title-group-color-alt;

            &:hover, &:active, &:focus {
                color: @form-title-group-color;
            }
        }
    }
}

.preview-report {
    padding: 50px 0 10px 0;
    background: #B8B8B8;
    border-radius: 6px;
}

.preview-datasource {
    text-align: center;
    margin-top: 60px;
    height: 80px;
}

.preview-responsedata {
    width: 100%;
    height: 600px;
}

.attachmentlist {
    &.animated {
        tr.ng-enter {
            .lh-animation(flipInX 0.75s);
        }

        tr.ng-leave {
            .lh-animation(flipOutX 0.5s);
        }

        tr.deleting.ng-leave {
            .lh-animation(zoomOutLeft 0.5s);
        }
    }

    &.upload {
        th {
            border: 0;
        }
    }

    .file-icon {
        width: 50px;
    }

    .file-thumbnail {
        width: 96px;
    }

    .file-name {
        width: 245px;
    }

    .file-delete {
        width: 42px;
    }

    .file-download {
        width: 150px;
    }

    .file-title {
        width: 150px;

        input {
            width: 100%;
        }
    }

    .deleting {
        text-decoration: line-through;
    }
}

.main-header {
    border-bottom: 3px solid #dd4b39;
}

    .main-header span .text {
        color: #ec162c;
    }

    .main-header .navbar {
        margin-left: 160px;
    }

.skin-white .main-header .navbar {
    background-color: #fff;
}

.skin-white .main-header .logo {
    width: 160px;
    background-color: #fff;
}

.skin-white .main-header li.user-header {
    background-color: #29363d;
}

.skin-white .main-header .navbar .sidebar-toggle {
    color: #29363d;
}

.skin-white .main-header .navbar .nav > li > a {
    color: #29363d;
}

.navbar .navbar-custom-menu {
    background-color: #fff;
}

.skin-white .left-side, .skin-white .main-sidebar, .skin-white .wrapper {
    background-color: #fff;
}

.sidebar-menu {
    font-size: 11px;
}

    .sidebar-menu li > a {
        position: relative;
    }


    .sidebar-menu > li > a:hover {
        color: #fff;
        background-color:#980909;
    }

    .sidebar-menu a {
        color: #fff;
    }

    .sidebar-menu > li > a > .fa {
       // color: #c30000;
       color:#bbb7b7;
    }

.main-footer {
    padding: 12px;
    color: #29363d;
    border-top: 2px solid #ec162c;
    background: #fff;
    margin-left: 160px;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    margin-left: 10px;
    width: 94%;
    height: 34px;
    margin-top: 10px;
}

.input-group-btn:last-child > .btn {
    z-index: 2;
    margin-right: 10px;
    margin-top: 10px;
}

.skin-white .main-sidebar {
    background-color: #29363d;
    width: 160px;
}

.content-wrapper {
    background-color: #e4e5e6;
    margin-left: 160px;
}

.input-group:hover {
    background-color: #fff;
    border-color: #f5f5f5;
}

.skin-white .sidebar-form input[type=text] {
    background-color: #ecf0f5;
    color: #000;
}



.k-grid {
    border-radius: 3px;
    border-color:#c2cfd6;
}

    .k-header, .k-grid-header-wrap, .k-grid .k-grouping-header, .k-grid-header, .k-pager-wrap, .k-pager-wrap .k-textbox, .k-pager-wrap .k-link, .k-grouping-header .k-group-indicator, .k-gantt-toolbar .k-state-default {
        background-color: #E5EDF0;
        border-color: #c2cfd6;
    }

    .k-grid .k-header .k-button {
        border-radius: 1px;
        color: #ffffff;
        background-color: #12920d;
    }

.k-grid-header {
    border-bottom-color: #5F9EA0;
    border-bottom-width: 2px;
}

    .k-grid-header .k-header, div.k-grid-header .k-header .k-link {
        font-weight: bold;
        color: #0b7073;
    }

.box-header {
    color: #b7110e;
}

.k2-action-button {
    margin-left: 2px;
    margin-right: 2px;
}

.k2-action-button-save, .k2-action-button-save-and-submit {
    .button-variant(@btn-success-color;
    @btn-success-bg;
    @btn-success-border
    );

    i:before {
        content: @fa-var-save + "\00a0";
    }
}

.k2-action-button-approve {
    .button-variant(@btn-success-color;
    @btn-success-bg;
    @btn-success-border
    );

    i:before {
        content: @fa-var-check + "\00a0";
    }
}

.k2-action-button-reject {
    .button-variant(@btn-danger-color;
    @btn-danger-bg;
    @btn-danger-border
    );
   // float:right;

    i:before {
        content: @fa-var-stop + "\00a0";
    }
}

.k2-action-button-revise {
    .button-variant(@btn-warning-color;
    @btn-warning-bg;
    @btn-warning-border
    );

    i:before {
        content: @fa-var-backward + "\00a0";
    }
}

.k2-action-button-send-back {
    i:before {
        content: @fa-var-step-backward + "\00a0";
    }
}

.k2-action-button-send-next {
    .button-variant(@btn-info-color;
    @btn-info-bg;
    @btn-info-border
    );

    i:before {
        content: @fa-var-step-forward + "\00a0";
    }
}

.k2-action-button-submit {
    .button-variant(@btn-info-color;
    @btn-info-bg;
    @btn-info-border
    );

    i:before {
        content: @fa-var-play+ "\00a0";
    }
}

.k2-action-button-complete {
    .button-variant(@btn-success-color;
    @btn-success-bg;
    @btn-success-border
    );

    i:before {
        content: @fa-var-check-square-o + "\00a0";
    }
}

.k2-action-button-cancel {
    .button-variant(@btn-danger-color;
    @btn-danger-bg;
    @btn-danger-border
    );
   // float:right;
    i:before {
        content: @fa-var-times + "\00a0";
    }
}


.k2-action-button-pending {

    i:before {
        content: @fa-var-retweet + "\00a0";
    }
}
.k2-action-button-onprocess {
    .button-variant(@btn-success-color;
    @btn-success-bg;
    @btn-success-border
    );

    i:before {
        content: @fa-var-check + "\00a0";
    }
    }
.k-input[readonly] {
    background-color: #eeeeee;
}

div.k-window-content {
    overflow: initial;
}
//Title Grid Center


.k-grid-header th.k-header {
    text-align: center;
    font-weight : bold;
}

    .k-grid-header th.k-header:first-child {
        border-left-width: 1px;
    }
.k-maximize{
    background-position: -288px -288px;
}
.k-restore{
     background-position: -288px -312px;
}
.k-edit-label {
   // width: 43%;
}
.box.box-danger {
    border-top: 1px solid #dd4b39;
}
.content-header {
    padding: 15px;
    background-color:#f5f5f5;
    border-bottom: 1px solid #cccccc;

}
.light-color {
      background-color:#e1d0f1;
     // border:2px solid #5b3c5f;
}
.dark-color {
      background-color:#d2b9ea;
      // border:2px solid #5b3c5f;
}
.k-grid tbody .k-button {
    min-width: 30px;
   // padding:4px 10px 4px;
}

///
    .k-grid tr:last-child td {
           border-width: 1px 0 1px 1px;
    }
    //

    @media (max-width: 767px) {

.main-header {
   
    max-height:50px;
}
    .main-header .navbar {
         margin-top: -50px;
        margin-left: 160px;
        width:auto;
       
    }
    .main-sidebar {
       
         left: 230px;
         padding-top: 50px;
    }
    .sidebar-menu li > a {
        position: relative;
    }

     .sidebar-mini.sidebar-collapse .content-wrapper {
            margin-left: 50px!important;
            z-index: 840;
         }
         
     .sidebar-mini.sidebar-collapse .main-sidebar {
           
            margin-left: 50px !important;
            z-index: 850;
        }

    .sidebar-open .content-wrapper {
            transform: translate(-160px,0);
            z-index: 920;
            width: 100%;

    }
    .sidebar-open .main-sidebar {
    transform: translate(-230px,0);
    margin-left: -230px;
    }
        .sidebar-open .main-footer {
            transform: translate(-160px,0);
            width: 100%;
        }
}
    