﻿@using TheMall.MPS.Resources
<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="pettycashFormController" kendo-validator="validator" ng-submit="validate($event)" k-options="validatorOption" readonly="readonly">

<section class="content-header" ng-show="!form.GoodsIssue">
    <header-title small-title-message="@TheMall.MPS.Resources.Share.PettyCashLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="pettycash/"> @TheMall.MPS.Resources.Share.PettyCashLabel</a></li>
        <li class="active">@TheMall.MPS.Resources.Share.DetailLabel</li>
    </ol>
</section>

<section class="content-header" ng-show="form.GoodsIssue">
    <header-title small-title-message="@TheMall.MPS.Resources.Share.GoodsIssueLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="goodsissue/"> @TheMall.MPS.Resources.Share.GoodsIssueLabel</a></li>
        <li class="active">@TheMall.MPS.Resources.Share.DetailLabel</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" ng-if="form">
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='pettycash/'><i class="fa fa-arrow-left"></i> Back</a>
        @*<button type="submit" class="k-button btn-success ng-scope" style="color: #fff"><i class="fa fa-save"></i> SAVE</button>*@
        @*<button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>*@
        <a class="k-button btn-info ng-scope" ng-show="form.StatusFlag === 9 && RequesterCheck === '{{authentication.userName |  uppercase}}'" ng-href="{{printReport()}}" target="_blank"><i class="fa fa-print"></i> Print</a>
    </div>

    <div ng-include="'app/Include/ChooseAction'">
    </div>

    <h4 ng-show="form.ProposalRef.StatusFlag !== 9" style="color: red; margin-bottom: 0px; font-size: 10px;">
        <star></star> @TheMall.MPS.Resources.Share.ProposalReviseAction
    </h4>
</div>


<box header-title="Requester information">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Requester name :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Requester.Username }} | {{ form.Requester.FullName}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Unit code :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.UnitCode.UnitCode }} - {{ form.UnitCode.UnitName}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Create date :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.CreatedDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
            </div>
        </div>
    </div>
</box>

<box header-title="Proposal detail">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalNumber :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <a href="proposal/detail/{{form.ProposalRef.Id}}" target="_blank">
                        <div class="text-left" style="width: 100%; height: 100%; word-wrap: break-word;">
                            @*{{form.ProposalRef.DocumentNumber}} | {{form.ProposalRef.Title}}*@
                            {{form.ProposalRef.DocumentNumber ? form.ProposalRef.DocumentNumber + " | " + form.ProposalRef.Title : form.ProposalRef.Title ? form.ProposalRef.Title : " "}}
                        </div>
                    </a>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalTitle :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left" style="width: 100%; height: 100%; word-wrap: break-word;">
                        {{form.ProposalRef.Title}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalType :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProposalRef.ProposalType.TypeProposalName}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row" ng-show="!show">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Branch :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left" ng-repeat="Palce in temp.listPlace">
                        - {{Palce.PlaceCode}} - {{Palce.PlaceName}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Other :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProposalRef.Other}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row" ng-show="show">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Source :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProposalRef.Source}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.RefDeposit :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProposalRef.DepositNumber}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.StartDate :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProposalRef.StartDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.EndDate :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProposalRef.EndDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ExpenseTopic :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ExpenseTopic.ExpenseTopicCode}} - {{form.ExpenseTopic.ExpenseTopicName}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.APCode :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.APCode.APCode}} - {{form.APCode.APName}} - {{form.APCode.DescriptionLine}}
                    </div>
                </label>
            </div>
        </div>

        @*<div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.BudgetAP :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.BudgetAPCode | number}} Baht
                    </div>
                </label>
            </div>
        </div>*@
    </div>
</box>

<box header-title="Information">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Petty cash number :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.DocumentNumber}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Status :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Status}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.BranchName :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Branch.PlaceCode}} - {{form.Branch.PlaceName}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Budget :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.BudgetDetail | number}} Baht
                    </div>
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Company :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Company.CompanyName}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row" ng-show="form.GoodsIssue">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"> </label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input type="checkbox" id="transfer" class="k-checkbox"ng-model="form.GoodsIssue" ng-disabled="true">
                    <label class="k-checkbox-label" for="transfer">เบิกคลังพัสดุ</label>
                </div>
            </div>
        </div>
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Proposal.Description" id="editorfull" expanded="false">
    <div class="container-fluid">
        <div class="row">
            @*<textarea kendo-editor k-ng-model="form.Description" k-options="DescriptionEditor"
                id="texteditor" rows="20" style=" height: 400px" readonly="readonly"></textarea>*@
            <div class="text-left" ng-bind-html=" trustAsHtml(form.Description)" style="word-wrap: break-word;">
            </div>
        </div>
    </div>
</box>

<box header-title="Petty cash detail" ng-if="!form.GoodsIssue">
    <div class="container-fluid">
        <div class="row">
            <div kendo-grid="$parent.$parent.$parent.depositLine" options="PettyCashLinesGridOption()"></div>
        </div>

    </div>
</box>

<box header-title="Goods Issue detail" ng-if="form.GoodsIssue">
    <div class="container-fluid">
        <div class="row">
            <div kendo-grid="$parent.$parent.$parent.depositLine" options="PettyCashLinesGridOption()"></div>
        </div>
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Share.AttachmentHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">Attachment files</label>
                <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                    <attachment-view-share attachments="form.OtherFiles"></attachment-view-share>
                </div>
            </div>

        </div>
    </div>
</box>

@*@Html.Partial("_Approve")*@
@Html.Partial("_ApproverGrids")
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='pettycash/'><i class="fa fa-arrow-left"></i> Back</a>
        @*<button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>*@
        @*<button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>*@
    </div>
    <div ng-include="'app/Include/ChooseAction'">
    </div>
</div>

@Html.Partial("_CommentHistory")
</section>
</form>
