﻿@using System.Web.Mail
@using TheMall.MPS.Resources
<style>
    .k-state-disabled .k-multiselect-wrap {
        background-color: #eeeeee;
    }

    li.k-button.ng-scope {
        color: black;
    }
    .popup-search-target {
        color: #555555;
    }
</style>

<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="pettycashFormController" kendo-validator="validator" ng-submit="validate($event)">

@*<pre>{{ApproverGridOptionLevelOneData | json}}</pre>
<pre>{{ApproverGridOptionLevelTwoData | json}}</pre>
<pre>{{ApproverGridOptionLevelThreeData | json}}</pre>
@*<pre>{{ApproverGridOptionLevelFiveData | json}}</pre>
<pre>{{forms.ApproverGridOptionLevelFiveData | json}}</pre>
<pre>{{forms.ApproverGridOptionLevelSixData | json}}</pre>*@

@*<pre>{{form.Branch | json}}</pre>
<pre>{{form.Company | json}}</pre>*@

<section class="content-header" ng-show="!form.GoodsIssue">
    <header-title small-title-message="@TheMall.MPS.Resources.Share.PettyCashLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="pettycash/"> @TheMall.MPS.Resources.Share.PettyCashLabel</a></li>
        <li class="active">@TheMall.MPS.Resources.Share.DetailLabel</li>
    </ol>
</section>

<section class="content-header" ng-show="form.GoodsIssue">
    <header-title small-title-message="@TheMall.MPS.Resources.Share.GoodsIssueLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="goodsissue/"> @TheMall.MPS.Resources.Share.GoodsIssueLabel</a></li>
        <li class="active">@TheMall.MPS.Resources.Share.DetailLabel</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" ng-if="form">
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='pettycash/'><i class="fa fa-arrow-left"></i> Back</a>
        <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
        <button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>
    </div>
    <div ng-show="form.Actions.length > 0">
        <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
    </div>
</div>

@Html.Partial("_RequesterInfo")
<box header-title="Proposal detail">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>@Proposal.ProposalNumber</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div kendo-popup-search
                         data-bind="value:ProposalRef,source:null"
                         name="Proposal number"
                         @*k-options="proposalNumberOption()"*@
                         k-options="proposalNumberOption2"
                         ng-model="form.ProposalRef"
                         k-on-change="checkDeposit()"
                         ng-disabled="!checkedUnitCode"
                         required="required"
                         style="width: 100%; height: 100%; word-wrap: break-word;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.ProposalTitle</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.ProposalRef.Title" readonly="readonly">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.ProposalType</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    <select kendo-drop-down-list
                            k-options="proposalTypeOption()"
                            k-ng-model="form.ProposalRef.ProposalType"
                            name="@Proposal.ProposalType"
                            k-on-change="checkDeposit()"
                            disabled>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" ng-show="!show">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.Branch</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.Place">*@
                    <select kendo-multi-select
                            k-options="placeOptions"
                            name="@Proposal.Branch"
                            k-ng-model="temp.listPlace"
                            style="background-color: #eeeeee;" readonly="readonly">
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.Other</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.ProposalRef.Other" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="row" ng-show="show">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.Source</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.ProposalRef.Source" ng-readonly="!chkDeposit">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.RefDeposit</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div kendo-popup-search
                         data-bind="value:ProposalRef.DepositNumber,source:null"
                         name="DepositNumber"
                         k-ng-model="form.ProposalRef.DepositNumber"
                         k-options="depositNumberOption()"
                         ng-readonly="!chkDeposit">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.StartDate</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input crs-date-picker k-ng-model="form.ProposalRef.StartDate" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.EndDate</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input crs-date-picker k-ng-model="form.ProposalRef.EndDate" readonly="readonly"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>@Proposal.ExpenseTopic</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    <select kendo-drop-down-list="$parent.$parent.$parent.expenseTopicDropDownList"
                            id="expenseTopicId"
                            k-options="expenseTopicOption"
                            k-ng-model="form.ExpenseTopic"
                            name="@Proposal.ExpenseTopic"
                            ng-disabled="!expenseCheck"
                            required="required">
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>@Proposal.APCode</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    <select kendo-drop-down-list
                            k-options="apCodeOption"
                            k-ng-model="form.APCode"
                            k-cascade-from-field="'ExpenseTopicCode'"
                            k-cascade-from="'expenseTopicId'"
                            name="@Proposal.APCode"
                            required="required">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.TotalBudgetPlan</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="input-group">
                        <input price-text-box min="0" type="number" style="width: 100%;" ng-model="TotalBudgetPlan" readonly="readonly">
                        <span class="input-group-addon">
                            @Share.Baht
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.BudgetAP</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="input-group">
                        <input price-text-box type="number" style="width: 100%;"
                               ng-model="form.BudgetAPCode" readonly="readonly">
                        <span class="input-group-addon">
                            @Share.Baht
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</box>

<box header-title="Information">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Petty cash number</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.DocumentNumber" readonly="readonly">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Status</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.Status" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>@Proposal.BranchName</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    <select kendo-drop-down-list
                            k-options="branchOptions"
                            k-ng-model="form.Branch"
                            name="@Proposal.BranchName"
                            required="required">
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Budget</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="input-group">
                        <input price-text-box min="0" type="number" style="width: 100%;"
                               ng-model="form.BudgetDetail" readonly="readonly">
                        <span class="input-group-addon">
                            @Share.Baht
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    Company
                </label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select id="company"
                            kendo-drop-down-list
                            k-options="companyOptions"
                            k-ng-model="form.Company"
                            name="Vendor">
                    </select>
                </div>
            </div>
            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 8px;">
                <star></star>Please re-check The company name
            </label>
        </div>

        <div class="row" ng-show="form.GoodsIssue">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"> </label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input type="checkbox" id="transfer" class="k-checkbox" ng-model="form.GoodsIssue" ng-disabled="true">
                    <label class="k-checkbox-label" for="transfer">เบิกคลังพัสดุ</label>
                </div>
            </div>
        </div>
        @*<div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">Description</label>
                        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                            <textarea class=" form-control" ng-model="form.Description" rows=" 5" ></textarea>
                        </div>
                    </div>
                </div>*@
    </div>
</box>

<box header-title="@Proposal.Description" id="editorfull">
    <div class="container-fluid">
        <div class="row">
            <textarea kendo-editor k-ng-model="form.Description" k-options="DescriptionEditor" rows="20" style="height: 400px"></textarea>
        </div>
    </div>
</box>

<box header-title="Petty Cash Detail" ng-if="!form.GoodsIssue">
    <div class="container-fluid">
        <div class="row">
            <div kendo-grid="$parent.$parent.$parent.depositLine" options="PettyCashLinesGridOption()"></div>
        </div>

    </div>
</box>

<box header-title="Goods Issue Detail" ng-if="form.GoodsIssue">
    <div class="container-fluid">
        <div class="row">
            <div kendo-grid="$parent.$parent.$parent.depositLine" options="PettyCashLinesGridOption()"></div>
        </div>
    </div>
</box>

<box header-title="@Share.AttachmentHeader">
    <div class="container-fluid">

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">
                    Attachment files
                    <span>
                        <i class="fa fa-exclamation-circle" aria-hidden="true" title="@Share.AttachmentType"></i>
                    </span>
                </label>
                <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                    <app-upload name="otherFiles"
                                handler="uploadHandler"
                                ng-model="form.OtherFiles"
                                save-url="attchmentSaveUrl"/>
                </div>
            </div>

        </div>
    </div>
</box>
@*@Html.Partial("_Accounting")*@
@*@Html.Partial("_Approve")*@
@Html.Partial("_ApproverGrids")
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href="pettycash/"><i class="fa fa-arrow-left"></i> Back</a>
        <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
        <button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>
    </div>
    <div ng-show="form.Actions.length > 0">
        <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
    </div>
</div>
<div ng-show="showComments">
    @Html.Partial("_CommentHistory")
</div>
</section>
</form>