﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        height: 38px;
    }
    .k-grid td {
        padding-bottom: 0;
    }
    .btn {
        padding: 2px 4px;
    }
</style>
<section class="content-header">
    <header-title small-title-message="@TheMall.MPS.Resources.Share.PettyCashLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Petty cash</a></li>
        <li class="active"><a href="#">Index</a></li>
    </ol>
</section>
<section class="content" >
    <div ng-controller="pettycashController">
        <box header-title="My @TheMall.MPS.Resources.Share.PettyCashLabel">
            <div kendo-grid="grid" options="gridKendoOption">
            </div>
        </box>
    </div>
    @*<div ng-controller="pettycashCompleteController">
        <box header-title="Related @TheMall.MPS.Resources.Share.PettyCashLabel">
            <div kendo-grid="grid" options="gridKendoOption">
            </div>
        </box>
    </div>*@
</section>
@*<section class="content" ng-controller="pettycashCompleteController">
    <box header-title="Related @TheMall.MPS.Resources.Share.PettyCashLabel">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
</section>*@
<script type="text/x-kendo-template" id="pettycashToolbarTemplate">
    <div class="toolbar">
        <div class="btn-group" role="group">
            @*<a btn-create href="proposal/create" />*@
            <a class="k-button btn-success" href='pettycash/create'><i class="fa fa-plus"></i> Create New Petty Cash</a>
            @*<a class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Export to Excel</a>*@
        </div>
    </div>
</script>

