﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
       
    }

    .btn {
        padding: 2px 4px;
    }

</style>
<section class="content-header">
    <header-title small-title-message="Search document">Marketing Proposal System</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="#">Search doucument</a></li>
        <li class="active"><a href="#">Index</a></li>
    </ol>
</section>
<section class="content">
    <div ng-controller="searchDocController">
        <box header-title="Search document">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Process</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <select kendo-drop-down-list
                                    name="Process"
                                    k-ng-model="temp.Process"
                                    @*k-options="unitcodeOption()"*@
                                    k-options="processOption"
                                    style="width: 100%"
                                    required="required"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Document number</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.DocumentNumber" name="DocumentNumber" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Title</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.Title" name="Title" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Username</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.Username" name="Username" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Status</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <select kendo-drop-down-list
                                    name="Status"
                                    k-ng-model="temp.Status"
                                    k-options="statusOption"
                                    style="width: 100%"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Create date</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input kendo-date-picker
                                   k-ng-model="form.CreateDate"
                                   k-format="'dd/MM/yyyy'"
                                   name="Create date"
                                   onkeydown="return false" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                            
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                            <button type="button" class="k-button btn-primary ng-scope"
                                    ng-click="Search()" style="width: 70px; color: white;"
                                    title="Search">
                                <i class="fa fa-search" aria-hidden="true" title="Search">
                                </i>
                            </button>
                            <button type="button" class="k-button btn-danger ng-scope"
                                    ng-click="Clear()" style="width: 70px; color: white;"
                                    title="Clear">
                                <i class="fa fa-times" aria-hidden="true" title="Clear"></i>
                            </button>
                        </div>
                    </div>     
                </div>
            </div>
        </box>
        <box header-title="Search table">
            <div kendo-grid="mygrid" options="gridKendoOption">
            </div>
        </box>
    </div>
</section>
