﻿<div ng-controller="WorkspaceController">
    <section class="content-header">
        <header-title small-title-message="Workspace">Marketing Proposal System</header-title>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            @*<li class="active">Dashboard</li>*@
        </ol>
    </section>
    <br/>
    @*<div class="row" style="padding: 20px 20px 0 20px;">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-check-square-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">EARLY</span>
                        <span class="info-box-number">{{total.Early}}</span>
                        <div class="progress">
                            <div class="progress-bar" ng-style="{width: earlyPercent}"></div>
                        </div>
                        <span class="progress-description"> {{earlyPercent}} of SLA/OLA </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">ON DUE</span>
                        <span class="info-box-number">{{total.Ondue}}</span>
                        <div class="progress">
                            <div class="progress-bar" ng-style="{width: onduePercent}"></div>
                        </div>
                        <span class="progress-description"> {{onduePercent}} of SLA/OLA </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-flash"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">OVERDUE</span>
                        <span class="info-box-number">{{total.Overdue}}</span>
                        <div class="progress">
                            <div class="progress-bar" ng-style="{width: overduePercent}"></div>
                        </div>
                        <span class="progress-description"> {{overduePercent}} of SLA/OLA </span>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <section class="content">
        <box header-title="Workspace">
            <div kendo-grid="$parent.$parent.$parent.grid" options="gridKendoOption"></div>
        </box>
    </section>
</div>

