﻿<box header-title="@TheMall.MPS.Resources.Share.Accounting">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.AccountingName Branch</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label">
                    @*<div class="text-left" ng-repeat="acc in form.Accounting">*@
                    <div class="text-left">
                        {{form.Accounting.PlaceCode}} - {{form.Accounting.PlaceName}}
                    </div>

                    @*<div kendo-popup-search
            k-ng-model="form.Accounting"
            k-options="accountingOption()"
            name="@TheMall.MPS.Resources.Share.Accounting"
            ng-disabled="true"></div>*@
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.AccountingName User</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label">
                    @*<div class="text-left" ng-repeat="acc in form.Accounting">*@
                    <div class="text-left" ng-repeat="user in form.AccountingUsers">
                         - {{user.FullName}} , Telephone : {{user.TelephoneNo}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</box>
