﻿<box header-title="@TheMall.MPS.Resources.Share.Accounting">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Share.AccountingName</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div @*kendo-popup-search*@
                        kendo-drop-down-list
                        k-ng-model="form.Accounting"
                        @*k-options="accountingOption()"*@
                        k-options="branchAccountingOptions"
                        name="@TheMall.MPS.Resources.Share.Accounting"
                        required="required"
                        style="width: 100%; height: 100%; word-wrap: break-word;"></div>
                </div>
            </div>
        </div>

    </div>
</box>
