﻿
    <box header-title="@TheMall.MPS.Resources.Share.ApproverHeader" expanded="!isReadonlyDetails()">
    <div class="container-fluid">
        <div ng-repeat="(key,lv) in ApproverLevel" style="margin-left:30px; margin-right:30px;">
            @*<pre> {{ApproverGridOption(lv)| json}} </pre>*@
            <box header-title="{{lv}}" style="margin:10%;">
                <div class="container-fluid">
                    <div kendo-grid="$parent.$parent.$parent.approve{{key}}" options="ApproverGridOption(key,lv)"></div>
                </div>
            </box>
        </div>
    </div>
</box>