﻿<style>
    .form-horizontal .form-group {
         margin-right: 0px; 
         margin-left: 0px; 
    }
</style>
<box header-title="@TheMall.MPS.Resources.Share.ApproverHeader" expanded="!isReadonlyDetails()">
    <div class="container-fluid">
        <box header-title="เสนอ" style="margin: 10%;">
            
            <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label">Due date : </label>
            <div class="container-fluid">
                <input kendo-date-picker
                       k-ng-model="form.DueDatePropose"
                       @*k-parse-formats="'yyyy-MM-ddTHH:mm:sszzz'"*@
                       k-format="'dd/MM/yyyy'"
                       style="width: 20%;"
                       k-min="currentDate"
                       k-on-change="changeDueDatePropose()"
                       @*k-max="form.DueDateAccept"*@
                       k-rebind="form.DueDateAccept"
                       ng-disabled="disabled"
                       onkeydown="return false" />
                <p></p>
                <div kendo-grid="$papxnt.$parent.$parent.grid" options="ApproverGridOptionLevelOne"></div>
            </div>
        </box>
        <box header-title="เห็นชอบ" style="margin: 10%;">
            <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label">Due date : </label>
            <div class="container-fluid">
                <input kendo-date-picker
                       k-ng-model="form.DueDateAccept"
                       @*k-parse-formats="'yyyy-MM-ddTHH:mm:sszzz'"*@
                       k-format="'dd/MM/yyyy'"
                       style="width: 20%;"
                       k-min="form.DueDatePropose"
                       k-on-change="changeDueDateAccept()"
                       @*k-max="form.DueDateApprove"*@
                       k-rebind="form"
                       ng-disabled="disabled"
                       onkeydown="return false" />
                <p></p>
                <div kendo-grid="$parent.$parent.$parent.grid" options="ApproverGridOptionLevelTwo"></div>
            </div>
        </box>
        <box header-title="อนุมัติ" style="margin: 10%;">
            <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label">Due date : </label>
            <div class="container-fluid">
                <input kendo-date-picker
                       k-ng-model="form.DueDateApprove"
                       @*k-parse-formats="'yyyy-MM-ddTHH:mm:sszzz'"*@
                       k-format="'dd/MM/yyyy'"
                       style="width: 20%;"
                       k-min="form.DueDateAccept"
                       k-on-change="changeDueDateApprove()"
                       @*k-max="form.DueDateFinalApprove"*@
                       k-rebind="form"
                       ng-disabled="disabled"
                       onkeydown="return false" />
                <p></p>
                <div kendo-grid="$parent.$parent.$parent.grid" options="ApproverGridOptionLevelThree"></div>
            </div>
        </box>
        <box header-title="อนุมัติขั้นสุดท้าย" style="margin: 10%;">
            <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label">Due date : </label>
            <div class="container-fluid">
                <input kendo-date-picker
                       k-ng-model="form.DueDateFinalApprove"
                       @*k-parse-formats="'yyyy-MM-ddTHH:mm:sszzz'"*@
                       k-format="'dd/MM/yyyy'"
                       style="width: 20%;"
                       k-rebind="form"
                       k-min="form.DueDateApprove"
                       ng-disabled="disabled"
                       onkeydown="return false" />
                <p></p>
                <div id="gridApproveLevelFour" kendo-grid="$parent.$parent.$parent.grid" options="ApproverGridOptionLevelFour"></div>
            </div>
        </box>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <box header-title="ทราบ" style="margin: 10%;">
                    <div class="container-fluid">
                        <div class="row">
                            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">รายชื่อ</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <select id="informEmail"
                                        kendo-multi-select
                                        k-options="EmailOption"
                                        name="Inform"
                                        k-ng-model="form.InformEmail"
                                        ng-disabled="disabled || disabledInform"></select>
                            </div>
                        </div>
                    </div>
        </box>

            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <box header-title="สำเนาเรียน" style="margin: 10%;">
                    <div class="container-fluid">
                        <div class="row">
                            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">รายชื่อ</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <select id="ccEmail"
                                        kendo-multi-select
                                        k-options="EmailOption"
                                        k-ng-model="form.CCEmail"
                                        ng-disabled="disabled || disabledInform"></select>
                                @*<div kendo-popup-search
                                     k-ng-model="forms.ApproverGridOptionLevelSixData"
                                     k-options="employeePopupSearchOption()"
                                     name="@TheMall.MPS.Resources.Share.Accounting"
                                     ng-disabled="approverLevelFiveAndSix"
                                     style="width: 100%; height: 100%; word-wrap: break-word;"></div>*@
                            </div>
                        </div>
                    </div>
            </box>

            </div>
        </div>
       
</div>
</box>
