﻿<box header-title="@TheMall.MPS.Resources.Share.RequesterInfoHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.RequesterName :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Requester.Username }} | {{ form.Requester.FullName}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.UnitCode :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.UnitCode.UnitCode }} - {{ form.UnitCode.UnitName}}
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.CreateDate :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.CreatedDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
            </div>
        </div>
    </div>
</box>