﻿<box header-title="@TheMall.MPS.Resources.Share.RequesterInfoHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.RequesterName</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.RequesterName">*@
                    <div kendo-popup-search
                         k-ng-model="form.Requester"
                         k-options="requesterOption()"
                         name="@TheMall.MPS.Resources.Share.RequesterName"
                         required="required"
                         style="width: 100%; height: 100%; word-wrap: break-word;"
                         disabled></div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
              
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Share.UnitCode</label>
            
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select kendo-drop-down-list
                                k-options="unitcodeOptionNew"
                                k-ng-model="form.UnitCode"
                                name="@TheMall.MPS.Resources.Share.UnitCode"
                                k-on-change="unitCodeOptionChange()"
                                ng-disabled="checkSubmit"
                                required="required"></select>
                        @*<input class="form-control input-sm" ng-model=" form.unitcode"/>*@


                    </div>
</div>
        </div>
        <div class="row">
              <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.CreateDate</label>
                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <input crs-date-picker ng-model="form.CreatedDate" readonly="readonly" />
                      @*<input class="form-control input-sm" ng-model="form.CreateDate"/>*@
                  </div>
            </div>
        </div>
     </div>
</box>