﻿
<box header-title="@TheMall.MPS.Resources.Share.ApproverHeader" expanded="!isReadonlyDetails()">
    <div class="container-fluid">
            @*<pre> {{ApproverGridOption(lv)| json}} </pre>*@
        <box header-title="เสนอ" style="margin: 10%;">
            <div class="container-fluid">
                <div kendo-grid="$parent.grid" options="ApproverGridOptionLevelOne"></div>
            </div>
        </box>
        <box header-title="เห็นชอบ" style="margin: 10%;">
            <div class="container-fluid">
                <div kendo-grid="$parent.grid" options="ApproverGridLevelTwo"></div>
            </div>
        </box>
        <box header-title="อนุมัติ" style="margin: 10%;">
            <div class="container-fluid">
                <div kendo-grid="$parent.grid" options="ApproverGridLevelThree"></div>
            </div>
        </box>
        <box header-title="อนุมัติขั้นสุดท้าย" style="margin: 10%;">
            <div class="container-fluid">
                <div kendo-grid="$parent.grid" options="ApproverGridLevelFour"></div>
            </div>
        </box>
        <box header-title="ทราบ" style="margin: 10%;">
            <div class="container-fluid">
                <div kendo-grid="$parent.grid" options="ApproverGridLevelFive"></div>
            </div>
        </box>
        <box header-title="สำเนาเรียน" style="margin:10%;">
            <div class="container-fluid">
                <div kendo-grid="$parent.grid" options="ApproverGridLevelSix"></div>
            </div>
        </box>
    </div>
</box>
