﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <base href="/mps/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="Content/images/logo.png" type="image/x-icon">
    <title>MPS | Marketing Proposal System</title>
    @Styles.Render("~/content/styles")
    <!--[if lt IE 9]>
        <script src="Content/html5shiv/html5shiv.min.js"></script>
        <script src="Content/respond/respond.min.js"></script>
    <![endif]-->
    <style>[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display: none !important;}</style>
</head>
<body ng-app="app" ng-strict-di="true" ng-class="authentication.isAuth?'hold-transition skin-white sidebar-mini sidebar-mini ':'hold-transition login-page'" block-ui="main" ng-cloak>
    <div class="main-wrapper" ng-class="authentication.isAuth?'wrapper':''">

        <header class="main-header animated slideInDown" ng-controller="NavigationController" ng-hide="!authentication.isAuth">
            <a href="workspace/workspace" class="logo">
                <span class="logo-mini text-center">
                    <img src="Content/images/logo_themall.png" style="width: 100px; margin-top: 0px; margin-left: -48%;">
                </span>
                <span class="logo-lg text-center" style="text-align: center; font-style: normal; font-size: 40px; font-weight: 700;">
                    @*<img src="Content/images/logo.png" style="width: 50px; margin-top: 0px; margin-left: 5px;">*@
                    <b><span style="color: red">M</span><span style="color: #4c4b4f">PS</span></b>
                </span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="Content/images/user.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{authentication.userName}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="Content/images/user.png" class="img-circle" alt="User Image">
                                    <p style="text-align: center; margin-bottom: 5px; margin-top: 0px; ">
                                        {{authentication.userName}}
                                    </p>
                                    <p style="text-align: center; font-size: 85%; margin: 0px;">
                                        Name : {{authentication.me.FullName}}
                                    </p>
                                    <p style="text-align: center; font-size: 85%; margin: 0px;">
                                        Position : {{authentication.me.PositionName}}
                                    </p>
                                    @*{{authentication | json}}</div><div style="text-align: center; ">*@

                                </li>
                                <li class="user-footer">
                                    <div>
                                        @*<div class="pull-left">
                                        <a href="user/options" class="btn btn-default btn-flat"><i class="fa fa-wrench"></i> <translate>Options</translate></a>
                                    </div>*@
                                        @*<div class="pull-center" >*@
                                        <div style="text-align:center;">
                                            <a href="#" class="btn btn-default btn-flat" ng-click="logout()"><i class="fa fa-sign-out"></i> <translate>SIGN OUT</translate></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" ng-show="authentication.isAuth" ng-controller="NavigationController">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- search form -->
                <div class="sidebar-form">
                    <div style="color: #fff; font-weight: bold; margin-top: 5px; text-align: center;">Marketing Proposal System</div>
                    @*<div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="{{'Search' | translate}}..." ng-model="searchMenu">

                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat" onclick="return false;"><i class="fa fa-search"></i></button>
                        </span>
                    </div>*@
                </div>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="treeview" ng-repeat="menu1 in menus() | filter:searchMenu">
                        <a ng-if="menu1.Html" menu-item href="{{menu1.Link ? menu1.Link : '#'}}" ng-bind-html="menu1.Html | unsafe" ng-attr-target="{{menu1.NewTab ? '_blank' : undefined}}">
                            <i ng-if="menu1.Children && menu1.Children.length" class="fa fa-angle-left pull-right" onclick="return false;"></i>
                        </a>
                        <a ng-if="!menu1.Html" menu-item href="{{menu1.Link ? menu1.Link : '#'}}" ng-attr-target="{{menu1.NewTab ? '_blank' : undefined}}">
                            <i class="{{menu1.IconClass}}"></i> <span translate-context="Menu">{{menu1.Text | translate:'Menu'}}</span>
                            <i ng-if="menu1.Children && menu1.Children.length" class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu" ng-if="menu1.Children && menu1.Children.length">
                            <li ng-repeat="menu2 in menu1.Children | filter:searchMenu" class="white-space">
                                <a ng-if="menu2.Html" menu-item href="{{menu2.Link ? menu2.Link : '#'}}" ng-bind-html="menu2.Html | unsafe" ng-attr-target="{{menu1.NewTab ? '_blank' : undefined}}"></a>
                                <i ng-if="menu2.Children && menu2.Children.length" class="fa fa-angle-left pull-right" onclick="return false;"></i>
                                <a ng-if="!menu2.Html" menu-item href="{{menu2.Link ? menu2.Link : '#'}}" ng-attr-target="{{menu1.NewTab ? '_blank' : undefined}}">
                                    <i class="{{menu2.IconClass}}"></i> <span translate-context="Menu">{{menu2.Text | translate:'Menu'}}</span>
                                    <i ng-if="menu2.Children && menu2.Children.length" class="fa fa-angle-left pull-right" onclick="return false;"></i>
                                </a>
                                <ul class="treeview-menu" ng-if="menu2.Children && menu2.Children.length">
                                    <li ng-repeat="menu3 in menu2.Children | filter:searchMenu" class="white-space">
                                        <a ng-if="menu3.Html" menu-item href="{{menu3.Link ? menu3.Link : '#' }}" ng-bind-html="menu3.Html | unsafe" ng-attr-target="{{menu1.NewTab ? '_blank' : undefined}}">
                                        </a>
                                        <a ng-if="!menu3.Html" menu-item href="{{menu3.Link ? menu3.Link : '#' }}" ng-attr-target="{{menu1.NewTab ? '_blank' : undefined}}">
                                            <i class="{{menu3.IconClass}}"></i> <span translate-context="Menu">{{menu3.Text | translate:'Menu'}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview ng-scope">
                        <a href="#" onclick="return false;" data-ng-click="logout()">
                            <i class="fa fa-sign-out" onclick="return false;"></i> <span translate="yes">SIGN OUT</span>
                        </a>
                    </li>
                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>


        <div class="main-view-wrapper" ng-class="authentication.isAuth?'content-wrapper':''">
            <div class="main-view" ng-view ng-cloak>

            </div>
        </div>

        <footer class="main-footer" ng-hide="!authentication.isAuth">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2017 <span style="color: #dd4b39;">The Mall Group Co., Ltd.</span></strong> All rights reserved.
        </footer>

    </div>
    <div ng-include="'views/shared/kendo-notification.html'"></div>
    @Scripts.Render("~/content/scripts")
    <script type="text/javascript">

        var CURRENT_USERNAME = "";
       
    </script>
</body>
</html>