﻿<div ng-controller="NotificationController">
    <span kendo-notification="instances[0]" k-options="messageBox.notificationOption"></span>
    
    <script id="infoTemplate" type="text/x-kendo-template">
        <div class="popup-message">
            <img src="content/images/envelope.png" />
            <p>#= message #</p>
        </div>
    </script>
    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="popup-message">
            <img src="content/images/error-icon.png" />
            <p>#= message #</p>
        </div>
    </script>
    <script id="successTemplate" type="text/x-kendo-template">
        <div class="popup-message">
            <img src="content/images/success-icon.png" class="" />
            <div><p>#= message #</p></div>
        </div>
    </script>
</div>