﻿<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="receiptFormController" kendo-validator="validator" ng-submit="validate($event)" k-options="validatorOption" readonly="readonly">

    <section class="content-header" ng-show="form.Receipt">
        <header-title small-title-message="@TheMall.MPS.Resources.Share.ReceiptLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
            <li><a href="receipt/"> @TheMall.MPS.Resources.Share.ReceiptLabel</a></li>
            <li class="active">@TheMall.MPS.Resources.Share.DetailLabel</li>
        </ol>
    </section>

    @*<pre>{{form.CreatedDate | json}}</pre>*@

<!-- Main content -->
<section class="content" ng-if="form">
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='receipt/'><i class="fa fa-arrow-left"></i> Back</a>
        <a class="k-button btn-info ng-scope" ng-show="form.StatusFlag === 9 && '{{form.Requester.Username |uppercase}}'=== '{{authentication.userName |  uppercase}}'" ng-href="{{printReport()}}" target="_blank"><i class="fa fa-print"></i> Print</a>
    </div>
</div>


    <box header-title="Requester information">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Requester name :</label>
                    <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                        <div class="text-left">
                            {{form.Requester.Username }} | {{ form.Requester.FullName}}
                        </div>
                    </label>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Unit code :</label>
                    <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                        <div class="text-left">
                            {{form.UnitCode.UnitCode }} - {{ form.UnitCode.UnitName}}
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Create date :</label>
                    <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                        <div class="text-left">
                            {{form.CreatedDate | date:'dd/MM/yyyy'}}
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Request for :</label>
                    <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                        <div class="text-left">
                            {{form.Requesterfor.Username }} | {{ form.Requesterfor.FullName}}
                        </div>
                    </label>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Unit code for :</label>
                    <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                        <div class="text-left">
                            {{form.UnitCodeFor.UnitCode }} - {{ form.UnitCodeFor.UnitName}}
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </box>

<box header-title="Information">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Receipt number :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.DocumentNumber}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Status :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Status}}
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Budget :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.BudgetNoVatTax | number}} Baht
                    </div>
                </label>
            </div>
        </div>
    </div>
</box>

    <box header-title="Receipt detail">
        <div class="container-fluid">
            <div class="row">
                <div kendo-grid="$parent.$parent.$parent.depositLine" options="ReceiptLinesGridOption()"></div>
            </div>

        </div>
    </box>
    
    <div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='receipt/'><i class="fa fa-arrow-left"></i> Back</a>
        <a class="k-button btn-info ng-scope" ng-show="form.StatusFlag === 9 && '{{form.Requester.Username |uppercase}}'=== '{{authentication.userName |  uppercase}}'" ng-href="{{printReport()}}" target="_blank"><i class="fa fa-print"></i> Print</a>
    </div>
</div>
</section>

</form>
