﻿@using System.Web.Mail
<style>
    .k-state-disabled .k-multiselect-wrap {
        background-color: #eeeeee;
    }

    li.k-button.ng-scope {
        color: black;
    }
    .popup-search-target {
        color: #555555;
    }
</style>

@*get controller name receiptFormController*@
<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="receiptFormController" kendo-validator="validator" ng-submit="validate($event)">
    
    @*<pre>{{form.Requesterfor | json}}</pre>
    <pre>{{form.UnitCodeFor | json}}</pre>*@

    <section class="content-header"> 
        <header-title small-title-message="@TheMall.MPS.Resources.Share.ReceiptLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
            <li><a href="receipt/"> @TheMall.MPS.Resources.Share.ReceiptLabel</a></li>
            <li class="active">@TheMall.MPS.Resources.Share.DetailLabel</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content" ng-if="form">
        <div class="box-btn">
            <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
                <a class="k-button btn-default" href='receipt/'><i class="fa fa-arrow-left"></i> Back</a>
                <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
                <button type="button" ng-click="validateComplete($event)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Complete</button>
            </div>
        </div>

       @*@Html.Partial("_RequesterInfo")*@

        <box header-title="@TheMall.MPS.Resources.Share.RequesterInfoHeader">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.RequesterName</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div kendo-popup-search
                                 k-ng-model="form.Requester"
                                 k-options="requesterOption()" @*name="@TheMall.MPS.Resources.Share.RequesterName"*@
                                 style="width: 100%; height: 100%; word-wrap: break-word;"
                                 disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.Share.UnitCode</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <select kendo-drop-down-list
                                    k-options="unitcodeOptionNew"
                                    k-ng-model="form.UnitCode"
                                    name="@TheMall.MPS.Resources.Share.UnitCode"
                                    @*ng-disabled="checkSubmit"*@
                                    required="required"></select>
                            @*<input class="form-control input-sm" ng-model=" form.unitcode"/>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Share.CreateDate</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input crs-date-picker k-ng-model="form.CreatedDate" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Request for</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div kendo-popup-search
                             k-ng-model="form.Requesterfor"
                             k-options="requesterForOption()"
                             name="@TheMall.MPS.Resources.Share.RequesterName"></div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Unit code for</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select kendo-drop-down-list
                                k-options="unitcodeOption"
                                k-ng-model="form.UnitCodeFor"
                                name="@TheMall.MPS.Resources.Share.UnitCode">
                        </select>
                    </div>
                </div>
            </div>
                @*<div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Submit date</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input crs-date-picker k-ng-model="form.SubmittedDate" readonly="readonly" />
                        </div>
                    </div>
                </div>*@
            </div>
        </box>
        <box header-title="Information">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Receipt number</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" 
                                   ng-model="form.DocumentNumber" 
                                   readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Status</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" 
                                   ng-model="form.Status" 
                                   readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Budget</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="input-group">
                                <input price-text-box min="0" type="number" style="width: 100%;"
                                       ng-model="form.BudgetNoVatTax" 
                                       readonly="readonly">
                                <span class="input-group-addon">
                                    @TheMall.MPS.Resources.Share.Baht
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </box>
    <box header-title="Receipt Detail" >
        <div class="container-fluid">
            <div class="row">
                <div kendo-grid="$parent.$parent.$parent.depositLine" options="ReceiptLinesGridOption()"></div>
            </div>
        </div>
    </box>

    <div class="box-btn">
        <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
            <a class="k-button btn-default" href='receipt/'><i class="fa fa-arrow-left"></i> Back</a>
            <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
            <button type="button" ng-click="validateComplete($event)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Complete</button>
        </div>
    </div>
</section>
</form>
