﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        height: 38px;
    }
    .k-grid td {
        padding-bottom: 0;
    }
    .btn {
        padding: 2px 4px;
    }
</style>
<section class="content-header">
    @*get text from TheMall.MPS.Resources*@
    <header-title small-title-message="@TheMall.MPS.Resources.Share.ReceiptLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Receipt</a></li>
        <li class="active"><a href="#">Index</a></li>
    </ol>
</section>
<section class="content" >
    @*get controller name receiptController*@
    <div ng-controller="receiptController">
        <box header-title="My @TheMall.MPS.Resources.Share.ReceiptLabel">
            <div kendo-grid="grid" options="gridKendoOption">
            </div>
        </box>
    </div>
</section>
<script type="text/x-kendo-template" id="receiptToolbarTemplate">
    <div class="toolbar">
        <div class="btn-group" role="group">
            <a class="k-button btn-success" href='receipt/create'>
                <i class="fa fa-plus"></i> Create New Receipt
            </a>
        </div>
    </div>
</script>

