﻿<form ng-controller="proposalFormController" kendo-validator="validator" ng-submit="validate($event)" k-options="validatorOption">
    @*<pre>{{form}}</pre>*@
    <section class="content-header">

        <header-title small-title-message="Form">Proposal</header-title>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>LAQ.Resources.Label.HomeMenuLabel</a></li>
            <li><a href="Land/index">LAQ.Resources.Label.LandMenuLabel </a></li>
            <li class="active">LAQ.Resources.Label.LandCreate</li>
        </ol>
    </section>

    <!-- Main content -->

    <section class="content" ng-if="form">
        <div class="box-btn">
            <div ng-show="!form || !form.Actions || form.Actions.length
            <= 0" class="ng-hide">
                <a btn-back href='Land/index'></a>
                <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
                <button ng-show="!form.StatusFlag && !form.Status" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>
            </div>
            <div ng-include="'Include/ChooseAction'"></div>
        </div>
        <box header-title="Requester Information">
        </box>
    </section>

</form>
