﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        /*height: 38px;*/
    }
</style>
<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="expensetopicFormController" kendo-validator="validator" ng-submit="validate($event)">
        @*<pre>{{form | json }}</pre>*@
        <section class="content-header">
            <header-title small-title-message="@TheMall.MPS.Resources.Share.ExpenseTopicLabel">Master data</header-title>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
                <li><a href="#">Master</a></li>
                <li class="active"><a href="expensetopic/index">@TheMall.MPS.Resources.Share.ExpenseTopicLabel</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" ng-if="form" style="min-height: 0px;">
            <div class="box-btn">
                <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
                    <a class="k-button btn-default" href='expensetopic/'><i class="fa fa-arrow-left"></i> Back</a>
                    <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="k-button btn-danger ng-scope" ng-show="canDeleted" ng-click="delete()"><i class="fa fa-trash-o"></i> Delete</button>
                </div>
                <div ng-include="'app/Include/ChooseAction'">

                </div>
            </div>
        </section>

        @*<section class="content" >
            <div class="box-btn">
                <a class="k-button btn-default" href='expensetopic/index'><i class="fa fa-arrow-left"></i> Back</a>
                <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
            </div>*@
    <section class="content">
        <box header-title="@TheMall.MPS.Resources.Share.ExpenseTopicLabel">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.ExpenseTopic.ExpenseTopicCode</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" name="Expense topic code" ng-model="form.ExpenseTopicCode" required="required" ng-disabled="edit">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.ExpenseTopic.ExpenseTopicName</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control input-sm" ng-model="form.ExpenseTopicName" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>@TheMall.MPS.Resources.ExpenseTopic.TypeAP</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <select kendo-drop-down-list
                                    name="TypeAP"
                                    k-ng-model="form.TypeAP"
                                    k-options="typeAPOption()"
                                    style="width: 100%" required="required"></select>
                            @*<input class="form-control input-sm" ng-model="form.TypeAP" required="required"
                                   maxlength="1">*@
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Inactive</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input type="checkbox" ng-model="form.InActive" style="margin-top: 10px;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.ExpenseTopic.Description</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <textarea class=" form-control" ng-model="form.Description" rows=" 5"
                                      required="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Order</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input kendo-numeric-text-box k-ng-model="form.Order" name="Order" style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
        </box>
    </section>
    <section class="content">
        <box header-title="AP Code">
            <div kendo-grid="grid" options="apCodegridOption()"></div>
        </box>
        </section>

</form>
