﻿<section class="content-header">
    <header-title small-title-message="Expense topic">Master data</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="#">Master</a></li>
        <li class="active"><a href="expensetopic/index">@TheMall.MPS.Resources.Share.ExpenseTopicLabel</a></li>
    </ol>
</section>
<section class="content" ng-controller="expensetopicController" >
    <box header-title="@TheMall.MPS.Resources.Share.ExpenseTopicLabel">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
</section>
<script type="text/x-kendo-template" id="expenseTopicTemplate">
    <div class="toolbar">

        <div class="btn-group" role="group" >
            <a btn-create href="expensetopic/create" />
        </div>
    </div>
</script>
