﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        height: 38px;
    }
    .btn {
        padding: 2px 4px;
    }
</style>
<section class="content-header">
    <header-title small-title-message="Workspace Proposal">Marketing Proposal System</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
    </ol>
</section>
<section class="content">
    <div>
        <div ng-controller="workspaceproposalController">
            <box header-title="Workspace Proposal">
                <div kendo-grid="$parent.$parent.$parent.grid" options="gridKendoOption"></div>
            </box>
        </div>
    </div>
</section>


