﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        height: 38px;
    }
</style>
<section class="content-header">
    <header-title small-title-message="@TheMall.MPS.Resources.Share.ProposalType">Master data</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="#">Master</a></li>
        <li class="active"><a href="typeproposal/index">Proposal type</a></li>
    </ol>
</section>
<section class="content" ng-controller="typeproposalController">
    <box header-title="@TheMall.MPS.Resources.Share.ProposalType">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
</section>
<script type="text/x-kendo-template" id="typeProposalTemplate">
    <div class="toolbar">

        <div class="btn-group" role="group">
            <a btn-create href="typeproposal/create" />
        </div>
    </div>
</script>

