﻿<section class="content-header">
    <h1 translate="yes">User Options</h1>
</section>

<section class="content container-fluid">
    <div class="form-horizontal">
        <box>
            <div class="form-group">
                <label class="col-md-4 control-label"><i class="fa fa-language"></i> <translate>Interface Language</translate></label>
                <div class="col-md-8">
                    <language-switch></language-switch>
                </div>
            </div>
        </box>
    </div>
</section>