﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        /*height: 38px;*/
    }
</style>
<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="accountingFormController" kendo-validator="validator" ng-submit="validate($event)">

    <section class="content-header">
        <header-title small-title-message="Accounting">Master Data</header-title>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
            <li><a href="#">Master</a></li>
            <li class="active"><a href="Company/index">Company</a></li>
        </ol>
    </section>
    <section class="content" ng-if="form" style=" min-height:0px;">
        <div class="box-btn">
            <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
                <a class="k-button btn-default" href='accounting/'><i class="fa fa-arrow-left"></i> Back</a>
                <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="k-button btn-danger ng-scope" ng-show="canDeleted" ng-click="delete()"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
            <div ng-include="'app/Include/ChooseAction'"></div>
        </div>
    </section>
    <section class="content">
        <box header-title="Accounting">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Employee</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <select kendo-drop-down-list
                                    name="Employee"
                                    k-ng-model="form.Employee"
                                    @*k-options="unitcodeOption()"*@
                                    k-options="employeeOption()"
                                    style="width: 100%"
                                    required="required"
                                    ng-disabled="edit"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Branch</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <select kendo-drop-down-list
                                    name="Branch"
                                    k-ng-model="form.SharedBranch"
                                    @*k-options="unitcodeOption()"*@
                                    k-options="branchOption()"
                                    style="width: 100%"
                                    required="required"
                                    ng-disabled="edit"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">In active</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <input type="checkbox" ng-model="form.InActive" style="padding-left: 10px;" />
                        </div>
                    </div>
                </div>
            </div>

        </box>
    </section>
</form>