﻿<section class="content-header">
    <header-title small-title-message="Document Related">Marketing Proposal System</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="#">Document Related</a></li>
        <li class="active"><a href="#">index</a></li>
    </ol>
</section>
<section class="content" ng-controller="documentrelatedController">
    <box header-title="Document Related">
        <div kendo-grid="grid" options="gridKendoOption">
        </div>
    </box>
</section>

