﻿<section class="content-header">
    <header-title small-title-message="Marketing Proposal">APcode Master Data</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> HomeMenuLabel</a></li>
        <li><a href="master/index">Master</a></li>
        <li class="active"><a href="master/apcode/index">APcode</a></li>
    </ol>
</section>
<section class="content" ng-controller="apcodeController">
    <box header-title="APcode">
        <div kendo-grid="grid" options="gridKendoOption()">
        </div>
    </box>
</section>



