﻿<script type="text/x-kendo-template" id="AddCashAdvanceLine">


    <div class="container form-horizontal">
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="col-md-4 control-label">Description</label>
                    <div class="col-md-7 control-input">
                        <input class="k-textbox" type="text" name="Description" />
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="col-md-4 control-label">Unit</label>
                    <div class="col-md-7 control-input">
                        <input kendo-numeric-text-box k-min="0" name="Unit" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="col-md-4 control-label">Amount</label>
                    <div class="col-md-7 control-input">

                        <div class="input-group" style="width:300px;">
                            <input price-text-box min="0" type="number" name="Amount">
                            <span class="input-group-addon">
                                @TheMall.MPS.Resources.Share.Baht
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="col-md-4 control-label">Remark</label>
                    <div class="col-md-7 control-input">
                        <textarea class=" form-control" name="Remark" rows=" 5" required="required"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11">
                <div class="form-group">
                    <label class="col-md-4 control-label">Attachment</label>
                    <div class="col-md-7 control-input">
                        <input class="k-textbox" type="text" name="Attachment" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>