﻿@using TheMall.MPS.Resources
<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="CashAdvanceFormController" kendo-validator="validator" ng-submit="validate($event)" k-options="validatorOption" readonly="readonly">

<section class="content-header">
    <header-title small-title-message="@TheMall.MPS.Resources.Share.CashAdvanceLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="cashadvance/">Cash advance</a></li>
        <li class="active">@TheMall.MPS.Resources.Share.DetailLabel</li>
    </ol>
</section>

<section class="content" ng-if="form">
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='cashadvance/'><i class="fa fa-arrow-left"></i> Back</a>
        @*<button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>*@
        @*<button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>*@
        @*<a class="k-button btn-info ng-scope" ng-show="checkCompleted" ng-href="{{printReport()}}" target="_blank"><i class="fa fa-print"></i> Print</a>*@
        <a class="k-button btn-info ng-scope" ng-show="checkAccounting" ng-href="{{printReportMemoCashAdvance()}}" target="_blank"><i class="fa fa-print"></i> Print</a>
    </div>
    <div ng-include="'app/Include/ChooseAction'"></div>
    <h4 ng-show="form.ProposalRef.StatusFlag !== 9" style="color: red; margin-bottom: 0px; font-size: 10px;">
        <star></star>@TheMall.MPS.Resources.Share.ProposalReviseAction
    </h4>
</div>

<box header-title="Requester">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Share.RequesterName :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Requester.Username }} | {{ form.Requester.FullName}}
                    </div>
                </label>
                @*<div kendo-popup-search
                            k-ng-model="form.Requester"
                            k-options="requesterOption()"
                            name="@TheMall.MPS.Resources.Share.RequesterName"
                            ng-disabled="true"></div>*@
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Share.UnitCode :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.UnitCode.UnitCode }} - {{ form.UnitCode.UnitName}}
                    </div>
                </label>

                @*<select kendo-drop-down-list name="UnitCode"
                            k-ng-model="form.UnitCode" k-options="unitcodeOption"
                            style="width: 100%" required="required" disabled></select>*@
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Share.CreateDate :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.CreatedDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Request for :</label>
                @*<input class="form-control input-sm" ng-model="form.RequesterName">*@
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.RequesterFor.Username }} | {{ form.RequesterFor.FullName}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Submit date :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.SubmittedDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input crs-date-picker k-ng-model="" readonly="readonly" />
                            </div>*@
            </div>
        </div>
    </div>
</box>

<box header-title="Proposal detail">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Proposal number :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <a href="proposal/detail/{{form.ProposalRef.Id}}" target="_blank">
                        <div class="text-left" style="word-wrap: break-word;">
                            @*{{form.ProposalRef.DocumentNumber}} | {{form.ProposalRef.Title}}*@
                            {{form.ProposalRef.DocumentNumber ? form.ProposalRef.DocumentNumber + " | " + form.ProposalRef.Title : form.ProposalRef.Title ? form.ProposalRef.Title : ""}}
                        </div>
                    </a>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div kendo-popup-search
                                     data-bind="value:ProposalRef,source:null"
                                     name="ProposalRef"
                                     k-options="proposalNumberOption()"
                                     k-ng-model="form.ProposalRef"
                                     k-on-change="checkDeposit()"
                                     ng-disabled="!checkedUnitCode"></div>
                            </div>*@
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalTitle : </label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left" style="word-wrap: break-word;">
                        {{form.ProposalRef.Title}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input class="form-control input-sm" ng-model="form.ProposalRef.Title" readonly="readonly">
                            </div>*@
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.ProposalType :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProposalRef.ProposalType.TypeProposalName}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                @*<input class="form-control input-sm" ng-model="form.ProposalType">
                                <select kendo-drop-down-list
                                        k-options="proposalTypeOption()"
                                        k-ng-model="form.ProposalRef.ProposalType"
                                        name="@TheMall.MPS.Resources.Proposal.ProposalType"
                                        k-on-change="checkDeposit()"
                                        readonly="readonly" disabled>
                                </select>
                            </div>*@
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Branch : </label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left" ng-repeat="Place in temp.listPlace">
                        - {{Place.PlaceCode}} - {{Place.PlaceName}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                @*<input class="form-control input-sm" ng-model="form.Place">
                                <select kendo-multi-select
                                        k-options="placeOptions"
                                        name="@TheMall.MPS.Resources.Proposal.Branch"
                                        k-ng-model="temp.listPlace"
                                        style="background-color: #eeeeee;" readonly="readonly" ng-disabled="true"></select>
                            </div>*@
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.Other :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ProposalRef.Other}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input class="form-control input-sm" ng-model="form.ProposalRef.Other" readonly="readonly">
                            </div>*@
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.StartDate :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left" style="width: 100%; height: 100%; word-wrap: break-word;">
                        {{form.ProposalRef.StartDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input crs-date-picker k-ng-model="form.ProposalRef.StartDate" readonly="readonly" />
                            </div>*@
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@TheMall.MPS.Resources.Proposal.EndDate :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left" style="width: 100%; height: 100%; word-wrap: break-word;">
                        {{form.ProposalRef.EndDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input crs-date-picker k-ng-model="form.ProposalRef.EndDate" readonly="readonly" />
                            </div>*@
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.ExpenseTopic :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.ExpenseTopics.ExpenseTopicCode}} - {{form.ExpenseTopics.ExpenseTopicName}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                @*<input class="form-control input-sm" ng-model="form.ProposalType">
                                <select kendo-drop-down-list
                                        id="expenseTopicId"
                                        k-options="expenseTopicOption"
                                        k-ng-model="form.ExpenseTopics"
                                        name="@TheMall.MPS.Resources.Proposal.ExpenseTopic"
                                        disabled></select>
                            </div>*@
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.APCode :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.APCode.APCode}} - {{form.APCode.APName}} - {{form.APCode.DescriptionLine}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                @*<input class="form-control input-sm" ng-model="form.ProposalType">
                                <select kendo-drop-down-list
                                        k-options="apCodeOption"
                                        k-ng-model="form.APCodes"
                                        name="@TheMall.MPS.Resources.Proposal.APCode"
                                        disabled></select>
                            </div>*@
            </div>
        </div>

        @*<div class="row" ng-show="checkAP">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Proposal budget :</label>
                        <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                            <div class="text-left">
                                {{form.BudgetPlan  | number}} Baht
                            </div>
                        </label>*@
        @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                @*<input class="form-control input-sm" ng-model="form.ProposalType">
                                <input price-text-box min="0" type="number" style="width: 100%;"
                                       ng-model="form.BudgetPlan" readonly="readonly">
                            </div>*@
        @*</div>
                </div>*@
    </div>
</box>

<box header-title="Cash advance information">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Cash advance number :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.DocumentNumber}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input class="form-control input-sm" ng-model="form.DocumentNumber" readonly="readonly">
                            </div>*@
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Status :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Status}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input class="form-control input-sm" ng-model="form.Status" readonly="readonly">
                            </div>*@
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Branch :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Branch.PlaceCode}} - {{form.Branch.PlaceName}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <select kendo-drop-down-list
                                        k-options="branchOptions"
                                        k-ng-model="form.Branch"
                                        disabled></select>
                            </div>*@
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Budget : </label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Budget | number }} Baht
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group">
                                    <input price-text-box min="0" type="number" style="width: 100%;" ng-model="form.Budget"
                                           readonly="readonly">
                                    <span class="input-group-addon">
                                        @TheMall.MPS.Resources.Share.Baht
                                    </span>
                                </div>
                            </div>*@
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Company :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.Company.CompanyName}}
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Due date :</label>
                <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                    <div class="text-left">
                        {{form.AdvanceDueDate | date:'dd/MM/yyyy'}}
                    </div>
                </label>
                @*<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input crs-date-picker k-ng-model="form.AdvanceDueDate" readonly="readonly" />
                            </div>*@
            </div>
        </div>

        @*<div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">Description :</label>
                            <label class="col-xs-8 col-sm-8 col-md-8 col-lg-8 control-label text-left">
                                <div class="text-left" ng-bind-html="form.Description">
                                    @*{{form.Description}}
                                </div>
                            </label>
                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                                <textarea class=" form-control" ng-model="form.Description" rows=" 5" readonly="readonly"></textarea>
                            </div>
                        </div>
                    </div>*@
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Proposal.Description" id="editorfull" expanded="false">
    <div class="container-fluid">
        <div class="row">
            @*<textarea kendo-editor ng-model="form.Description" k-options="DescriptionEditor"
                        id="texteditor" rows="20" style=" height:500px;" readonly="readonly"></textarea>*@
            <div class="text-left" ng-bind-html=" trustAsHtml(form.Description)" style="word-wrap: break-word;">
            </div>
        </div>
    </div>
</box>

<box header-title="Cash advance detail">
    <div class="container-fluid">
        <div class="row">
            <div kendo-grid="$parent.grid" options="CashAdvanceLinesGridOption()"></div>
        </div>
    </div>
</box>

<box header-title="@TheMall.MPS.Resources.Share.AttachmentHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">Attachment files</label>
                <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                    <attachment-view-share attachments="form.OtherFiles"></attachment-view-share>
                </div>
            </div>

        </div>
    </div>
</box>

@*@Html.Partial("_Approve")*@
@Html.Partial("_AccountingReadOnly")
@Html.Partial("_ApproverGrids")
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href='cashadvance/'><i class="fa fa-arrow-left"></i> Back</a>
        @*<button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>*@
        @*<button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>*@
    </div>
    <div ng-include="'app/Include/ChooseAction'">
    </div>
</div>
@Html.Partial("_CommentHistory")
</section>
@*@Html.Partial("AddCashAdvanceLine")*@
</form>