﻿@using TheMall.MPS.Resources
<style>
    .k-state-disabled .k-multiselect-wrap { background-color: #eeeeee; }

    li.k-button.ng-scope { color: black; }

    .popup-search-target { color: #555555; }

</style>


<form id="pageForm" name="pageForm" class="form-horizontal" ng-controller="CashAdvanceFormController" kendo-validator="validator" ng-submit="validate($event)">
<section class="content-header">
    <header-title small-title-message="@Share.CashAdvanceLabel">@Share.MPS</header-title>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-home"></i>@Share.HomeMenuLabel</a>
        </li>
        <li>
            <a href="cashadvance/">@Share.CashAdvanceLabel</a>
        </li>
        <li class="active">@Share.CreateLabel</li>
    </ol>
</section>

@*<pre>{{ A |  json}}</pre>*@
@*<pre>{{form.CashAdvanceLines | json}} </pre>*@

<section class="content" ng-if="form">
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href="cashadvance/"><i class="fa fa-arrow-left"></i> Back</a>
        <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
        <button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>
    </div>
    <div ng-show="form.Actions.length > 0">
        <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
    </div>
</div>

<box header-title="@Share.RequesterInfoHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Share.RequesterName</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div kendo-popup-search
                         k-ng-model="form.Requester"
                         k-options="requesterOption()"
                         @*name="@TheMall.MPS.Resources.Share.RequesterName"*@
                         style="width: 100%; height: 100%; word-wrap: break-word;"
                         disabled>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>@Share.UnitCode</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select kendo-drop-down-list
                            k-options="unitcodeOptionNew"
                            k-ng-model="form.UnitCode"
                            name="@Share.UnitCode"
                            k-on-change="unitCodeOptionChange()"
                            ng-disabled="checkSubmit"
                            required="required">
                    </select>
                    @*<select kendo-drop-down-list
                                    name="Unit code"
                                    k-ng-model="form.UnitCode"
                                    k-options="unitcodeOption"
                                    style="width: 100%"
                                    k-on-change="unitCodeOptionChange()"
                                    ng-disabled="checkSubmit"
                                    required="required"></select>*@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Share.CreateDate</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input crs-date-picker k-ng-model="form.CreatedDate" readonly="readonly"/>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Request for</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.RequesterName">*@
                    <div kendo-popup-search
                         k-ng-model="form.RequesterFor"
                         k-options="requesterOption()"
                         name="@Share.RequesterName"
                         style="width: 100%; height: 100%; word-wrap: break-word;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Submit date</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input crs-date-picker k-ng-model="form.SubmittedDate" readonly="readonly"/>
                </div>
            </div>
        </div>
    </div>
</box>

<box header-title="Proposal detail">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Proposal number</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*{{form.ProposalRef}}*@
                    @*<div kendo-popup-search
                                 data-bind="value:ProposalRef,source:null"
                                 name="Proposal number"
                                 k-options="proposalNumberOption2"
                                 ng-model="form.ProposalRef"
                                 @*k-ng-model="form.ProposalRef"*@
                    @*k-on-change="checkDeposit()"
                                 ng-disabled="!checkedUnitCode"
                                 required="required"
                                 style="width: 100%; word-wrap: break-word;"></div>*@
                    <div kendo-popup-search
                         data-bind="value:ProposalRef,source:null"
                         name="Proposal number"
                         @*k-options="proposalNumberOption()"*@
                         k-options="proposalNumberOption2"
                         ng-model="form.ProposalRef"
                         k-on-change="checkDeposit()"
                         ng-disabled="!checkedUnitCode"
                         required="required"
                         style="width: 100%; height: 100%; word-wrap: break-word;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.ProposalTitle</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.ProposalRef.Title" readonly="readonly"
                           style="width: 100%; height: 100%; word-wrap: break-word;">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.ProposalType</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    <select kendo-drop-down-list
                            k-options="proposalTypeOption()"
                            k-ng-model="form.ProposalRef.ProposalType"
                            name="@Proposal.ProposalType"
                            k-on-change="checkDeposit()"
                            disabled>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.Branch</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.Place">*@
                    <select kendo-multi-select="$parent.$parent.$parent.placeOptionsMultiSelectList"
                            k-options="placeOptions"
                            name="@Proposal.Branch"
                            k-ng-model="temp.listPlace"
                            readonly="readonly"
                            disabled>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.Other</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.ProposalRef.Other" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.StartDate</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input crs-date-picker k-ng-model="form.ProposalRef.StartDate" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.EndDate</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input crs-date-picker k-ng-model="form.ProposalRef.EndDate" readonly="readonly"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>@Proposal.ExpenseTopic</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    <select kendo-drop-down-list="$parent.$parent.$parent.expenseTopicDropDownList"
                            id="expenseTopicId"
                            k-options="expenseTopicOption"
                            k-ng-model="form.ExpenseTopics"
                            name="@Proposal.ExpenseTopic"
                            ng-disabled="!expenseCheck"
                            required="required">
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    <star></star>@Proposal.APCode</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    <select kendo-drop-down-list
                            k-options="apCodeOption"
                            k-ng-model="form.APCode"
                            k-cascade-from-field="'ExpenseTopicCode'"
                            k-cascade-from="'expenseTopicId'"
                            name="@Proposal.APCode"
                            required="required">
                    </select>
                </div>
            </div>
        </div>

        <div class="row" @*ng-show="checkAP"*@>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.TotalBudgetPlan</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="input-group">
                        <input price-text-box min="0" type="number" style="width: 100%;" ng-model="TotalBudgetPlan" readonly="readonly">
                        <span class="input-group-addon">
                            @Share.Baht
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">@Proposal.BudgetAP</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control input-sm" ng-model="form.ProposalType">*@
                    <input price-text-box type="number" style="width: 100%;"
                           ng-model="form.BudgetPlan" readonly="readonly">
                </div>
            </div>
        </div>
    </div>
</box>

<box header-title="Cash advance information">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Cash advance number</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.DocumentNumber" readonly="readonly">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Status</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input class="form-control input-sm" ng-model="form.Status" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"><star></star>Branch</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select kendo-drop-down-list="$parent.$parent.$parent.branchOptionsDropDownList"
                            k-options="branchOptions"
                            k-ng-model="form.Branch"
                            name="Branch"
                            k-on-change="BranchToAccounting(form.Branch)"
                            required="required">
                    </select>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Budget</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="input-group">
                        <input price-text-box min="0" type="number" style="width: 100%;"
                               ng-model="form.Budget" readonly="readonly">
                        <span class="input-group-addon">
                            @Share.Baht
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    Company
                </label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select id="company"
                            kendo-drop-down-list
                            k-options="companyOptions"
                            k-ng-model="form.Company"
                            name="Vendor">
                    </select>
                </div>
            </div>
            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 8px;">
                <star></star>Please re-check The company name
            </label>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Due date</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input crs-date-picker k-ng-model="form.AdvanceDueDate" readonly="readonly"/>
                </div>
            </div>
        </div>

        @*<div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">Description</label>
                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                                <textarea class=" form-control" ng-model="form.Description" rows=" 5"
                                          required="required"></textarea>
                            </div>
                        </div>
                    </div>*@
    </div>
</box>

<box header-title="@Proposal.Description" id="editorfull">
    <div class="container-fluid">
        <div class="row">
            <textarea kendo-editor k-ng-model="form.Description" k-options="DescriptionEditor" rows="20" style="height: 400px"></textarea>
        </div>
    </div>
</box>


<box header-title="Cash advance detail">
    <div class="container-fluid">
        <div class="row">
            <div kendo-grid="$parent.grid" options="CashAdvanceLinesGridOption()"></div>
        </div>

    </div>
</box>

@*<box header-title="Test">
                <div class="container-fluid">
                    <div class="row">
                        <div kendo-grid="$parent.grid" options="TestGrid"></div>
                    </div>

                </div>
            </box>*@

<box header-title="@Share.AttachmentHeader">
    <div class="container-fluid">

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="col-xs-4 col-sm-4 col-md-2 col-lg-2 control-label">
                    Attachment files
                    <span>
                        <i class="fa fa-exclamation-circle" aria-hidden="true" title="@Share.AttachmentType"></i>
                    </span>
                </label>
                <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 half-col">
                    <app-upload name="otherFiles"
                                handler="uploadHandler"
                                ng-model="form.OtherFiles"
                                save-url="attchmentSaveUrl"/>
                </div>
            </div>

        </div>
    </div>
</box>
@Html.Partial("_Accounting")
@*@Html.Partial("_Approve")*@
@Html.Partial("_ApproverGrids")

<div ng-show="$routeParams.mode.toUpperCase()=='REVISE'">
    @Html.Partial("_CommentHistory")
</div>
<div class="box-btn">
    <div ng-show="!form || !form.Actions || form.Actions.length <= 0" class="ng-hide">
        <a class="k-button btn-default" href="cashadvance/"><i class="fa fa-arrow-left"></i> Back</a>
        <button type="submit" class="k-button btn-success ng-scope"><i class="fa fa-save"></i> Save</button>
        <button ng-show="!form.StatusFlag" type="button" ng-click="validate($event, false)" class="k-button btn-info ng-scope"><i class="fa fa-play"></i> Submit</button>
    </div>
    <div ng-show="form.Actions.length > 0">
        <k2-action-list-acc actions="form.Actions" click="openK2ActionModal"></k2-action-list-acc>
    </div>
</div>

</section>
@*@Html.Partial("_AddCashAdvanceLine")*@
</form>