﻿<style>
    span.k-dropdown {
        width: 100%;
        color: #555;
        background-color: #efefef;
        background-image: none;
        height: 38px;
    }

    .k-grid td {
        padding-bottom: 0;
    }
    .btn {
        padding: 2px 4px;
    }
    /*.btn-info-readonly{
        background-color: #f4f4f4;
        border-color: #dddddd;
        color: #444;
    }*/
</style>
<section class="content-header">
    <header-title small-title-message="@TheMall.MPS.Resources.Share.CashAdvanceLabel">@TheMall.MPS.Resources.Share.MPS</header-title>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>@TheMall.MPS.Resources.Share.HomeMenuLabel</a></li>
        <li><a href="cashadvance/">@TheMall.MPS.Resources.Share.CashAdvanceLabel</a></li>
        <li class="active"><a href="#">Index</a></li>
    </ol>
    <!--ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> HomeMenuLabel</a></li>
    <li><a href="#">Proposal</a></li>
    <li class="active"><a href="#">index</a></li>
    </ol-->
</section>
<section class="content" ng-controller="CashAdvanceController">
    <box header-title="My Cash advance">
        <div kendo-grid="grid" options="gridKendoOption"></div>
    </box>
</section>
<script type="text/x-kendo-template" id="ToolbarTemplateAdvance">
    <div class="toolbar">
        <div class="btn-group" role="group">
            @*<a btn-create href="proposal/create" />*@
            <a class="k-button btn-success" href='cashadvance/create'><i class="fa fa-plus"></i> Create Cash Advance</a>
            @*<a class="k-button k-button-icontext k-grid-excel"><span class="k-icon k-i-excel"></span>Export to Excel</a>*@
        </div>
    </div>
</script>
