﻿<div ng-controller="TaskStatusController">
    <section class="content-header">
    </section>

    <section class="content">
        <box header-title="Filter">
            <div class="container-fluid">
                <form class="form-horizontal" kendo-validator="validator" ng-submit="validate($event)" k-options="validatorOption">
                    @*<div class="row form-group">
                        <label class="col-md-4 control-label">Process Instance Id</label>
                        <div class="col-md-8">
                            <input type="number" class="k-textbox form-control input-sm" ng-model="filter.ProcInstId" />
                        </div>
                    </div>*@
                    <div class="row form-group">
                        <label class="col-md-4 control-label">เลขที่เอกสาร</label>
                        <div class="col-md-8">
                            <input type="text" class="k-textbox form-control input-sm" ng-model="filter.Folio" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" class="btn btn-primary" value="Go"  />
                        </div>
                    </div>
                </form>
            </div>
        </box>

        <box header-title="Outstanding Tasks">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">

                        <table class="table table-bordered">
                            <thead style=" border-bottom: 3px solid #105069; background-color: #e5edf0; ">
                                <tr >
                                    <th >
                                        Id
                                    </th>
                                    <th >
                                        Folio
                                    </th>
                                    @*<th >
                                        Process
                                    </th>*@
                                    <th >
                                        Activity
                                    </th>
                                    <th >
                                        User
                                    </th>
                                    <th >
                                        Start date
                                    </th>
                                    <th >
                                        Due date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="task in form.tasks">
                                    <td ng-if="task.Index == 0" rowspan="{{task.RowSpan}}">
                                        {{task.ProcInstId}}
                                    </td>
                                    <td ng-if="task.Index == 0" rowspan="{{task.RowSpan}}">
                                        {{task.Folio}}
                                    </td>
                                    @*<td ng-if="task.Index == 0" rowspan="{{task.RowSpan}}">
                                        {{task.ProcDescription}}
                                    </td>*@
                                    <td>
                                        {{task.ActivityDescription}}
                                    </td>
                                    <td>
                                        {{task.ActInstDestFqn}}
                                    </td>
                                    <td>
                                        {{task.EventStartDate | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{task.EventDueDate | date:'dd/MM/yyyy'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </box>
    </section>
</div>